# Coleta de dados estruturados - 2º desafio IGTI
O arquivo contém uma pesquisa fictícia na qual um grupo de pessoas informou suas preferências pessoais
sobre os assuntos: Clima, Bebida, Hobbie e Animal de estimação. Os dados da pesquisa estão disponíveis
através de datas de coleta. Dessa forma, cada dia coletado terá informações baseadas naquela amostra.

Os dados estruturados são provenientes de estruturas definidas, inflexível, pensadas antes mesmo da própria criação dos dados.

In [1]:
# Importar as bibliotecas necessárias.
import pandas as pd # importando a biblioteca pandas
import os # bibliotecas para funções do sistema operacional

## Importando dados do arquivo¶
O primeiro passo é encontrar o local aonde o arquivo a ser trabalho vai estar armazenado. Após isso, vamos abrir-lo e em seguida vamos adiciona-lo dentro de um dataframe do pandas.

In [2]:
DIRETORIO = "C:\\Users\\ribei\\OneDrive\\PDM\\Bootcamp Cientista de Dados\\Apostilas\\Modulo 2\\base-trabalho_prático\\dataset"

In [5]:
## Identifica os arquivos que estão no diretório
lista_df = [] # cria uma lista
lista_path = os.listdir(DIRETORIO) # retorna uma lista dos nomes dos arquivos no diretório

In [6]:
## Lista 5 arquivos da lista, pra gente conferir se os arquivos foram localizados
lista_path[:5]

['2020-01-01.csv',
 '2020-01-02.csv',
 '2020-01-03.csv',
 '2020-01-04.csv',
 '2020-01-05.csv']

### Cria uma lista com os arquivos, em seguida, abre cada arquivo incluindo no Dataframe

In [9]:
# Atribui os dados coletados em um dataframe
lista_df = []
for arquivo in lista_path:
    local_arquivo = os.path.join(DIRETORIO, arquivo)
    df = pd.read_csv(local_arquivo, sep= '|', encoding='ISO-8859-1') #o separador aqui é um bipe
    lista_df.append(df)
df_pesquisa = pd.concat(lista_df)

In [10]:
df_pesquisa[:10] #lê as primeiras dez colunas do data.frame

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
0,10141523,2020-01-02,Feminino,1998-09-24,gato,quente,Cerveja,Aprender algo novo
1,10141996,2020-01-02,Feminino,1973-03-13,tartaruga,quente,refrigerante,Escrever
2,10142089,2020-01-02,Feminino,1970-03-23,gato,moderado,Água,Pintar quadros
3,10142145,2020-01-02,Masculino,1998-08-01,peixe,frio,refrigerante,Escrever
4,10142520,2020-01-02,Masculino,1994-05-09,peixe,moderado,Café,Praticar esporte

In [11]:
# Gerar o arquivo com o dataframe que possui os dados de todos os arquivos juntos
df_pesquisa.to_csv(DIRETORIO + 'pesquisa_por_data.csv', sep = '|', encoding='ISO-8859-1',
index=False)

## Armazenando os dados no banco de dados

O próximo passo é criar a conexão com o banco de dados. No entanto, antes de executar o script que gera a string de conexão precisamos criar o schema no banco de dados lá no SQL - é o diagrama.

In [13]:
import MySQLdb # Interface para conectar a um servidor de banco de dados MySQL. Ele implementa a API do Banco de Dados Python v2.0 e é construído em cima da API MySQL C.
import sqlalchemy # Facilita a comunicação com bancos de dados. Pode ser usada como uma ferramenta ORM (Object Relational Mapper, mapper relacional) que traduz classes Python em tabelas em bancos de dados relacionais e converte automaticamente chamadas de função para instruções SQL.

# Colocar os dados da conta do MySQL

In [44]:
user = 'matheus'
password = 'Economia756124!!!!!!'
host = 'localhost'
database = 'coletaIGTI' #schema

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao #testar a string de conexão com o banco de dados.

'mysql://matheus:Economia756124!!!!!!@localhost/coletaIGTI'

A string é composta pelo o usuário de acesso ao banco, a senha, o caminho do banco de dados e o schema que vai ser utilizado

In [45]:
# Connecta-se à base de dados
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

### Construção dos bancos de dados separados

In [46]:
df_pessoas = df_pesquisa[['cod_pessoa', 'genero', 'data_nascimento']].drop_duplicates()

In [47]:
df_hobbies = df_pesquisa[['hobbies']].drop_duplicates()

In [48]:
df_animal = df_pesquisa[['animal_estimacao']].drop_duplicates()

In [49]:
df_clima = df_pesquisa[['clima']].drop_duplicates()

In [50]:
df_bebida = df_pesquisa[['bebida_favorita']].drop_duplicates()

### Visualizar as bases de dados

In [51]:
df_pessoas[:3]

   cod_pessoa     genero data_nascimento
0    10141743  Masculino      1981-04-25
1    10141860   Feminino      1966-01-19
2    10142548  Masculino      1973-08-02

In [52]:
df_hobbies[:3]

            hobbies
0  Praticar esporte
1       Assistir TV
2        Ler livros

In [53]:
df_animal[:3]

  animal_estimacao
0            peixe
2        tartaruga
3             gato

In [54]:
df_clima[:3]

      clima
0      frio
1    quente
3  moderado

In [55]:
df_bebida[:3]

  bebida_favorita
0         Cerveja
1            Café
1    refrigerante

## Para inserir os dados no diagrama/squema do SQL

In [65]:
for pessoa in df_pessoas.itertuples():
    cod_pessoa = pessoa.cod_pessoa
    genero = pessoa.genero
    data_nascimento = str(pessoa.data_nascimento)[:10] # para retirar o
    try:
        querey = f"""insert into pessoa (cod_pessoa, genero, data_nascimento )
        values ('{cod_pessoa}', '{genero}', '{data_nascimento}')"""
        conn.execute(querey)
        print(f"Registro inserido com sucesso: {cod_pessoa}")
    except Exception as e:
        print(f"Não foi possível inserir o regristro {cod_pessoa}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: 10141743
Registro inserido com sucesso: 10141860
Registro inserido com sucesso: 10142548
Registro inserido com sucesso: 10142591
Registro inserido com sucesso: 10142654
Registro inserido com sucesso: 10141523
Registro inserido com sucesso: 10141996
Registro inserido com sucesso: 10142089
Registro inserido com sucesso: 10142145
Registro inserido com sucesso: 10142520
Registro inserido com sucesso: 10143160
Registro inserido com sucesso: 10141712
Registro inserido com sucesso: 10141987
Registro inserido com sucesso: 10142093
Registro inserido com sucesso: 10142325
Registro inserido com sucesso: 10142552
Registro inserido com sucesso: 10142598
Registro inserido com sucesso: 10143013
Registro inserido com sucesso: 10141570
Registro inserido com sucesso: 10141851
Registro inserido com sucesso: 10141938
Registro inserido com sucesso: 10142733
Registro inserido com sucesso: 10142851
Registro inserido com sucesso: 10142941
Registro inserido com sucesso: 10143484
Registro inserido com sucesso: 10141877
Registro inserido com sucesso: 10142310
Registro inserido com sucesso: 10142471
Registro inserido com sucesso: 10142597
Registro inserido com sucesso: 10143070
Registro inserido com sucesso: 10143526
Registro inserido com sucesso: 10141671
Registro inserido com sucesso: 10142969
Registro inserido com sucesso: 10143233
Registro inserido com sucesso: 10141745
Registro inserido com sucesso: 10141826
Registro inserido com sucesso: 10142330
Registro inserido com sucesso: 10142711
Registro inserido com sucesso: 10143397
Registro inserido com sucesso: 10141581
Registro inserido com sucesso: 10141733
Registro inserido com sucesso: 10141836
Registro inserido com sucesso: 10141862
Registro inserido com sucesso: 10143185
Registro inserido com sucesso: 10143284
Registro inserido com sucesso: 10143286
Registro inserido com sucesso: 10141861
Registro inserido com sucesso: 10142291
Registro inserido com sucesso: 10142360
Registro inserido com sucesso: 10142498
Registro inserido com sucesso: 10142687
Registro inserido com sucesso: 10142984
Registro inserido com sucesso: 10143351
Registro inserido com sucesso: 10143396
Registro inserido com sucesso: 10143608
Registro inserido com sucesso: 10141521
Registro inserido com sucesso: 10141653
Registro inserido com sucesso: 10142206
Registro inserido com sucesso: 10142556
Registro inserido com sucesso: 10142828
Registro inserido com sucesso: 10143119
Registro inserido com sucesso: 10143472
Registro inserido com sucesso: 10141942
Registro inserido com sucesso: 10142080
Registro inserido com sucesso: 10142218
Registro inserido com sucesso: 10142782
Registro inserido com sucesso: 10142939
Registro inserido com sucesso: 10143031
Registro inserido com sucesso: 10143579
Registro inserido com sucesso: 10141504
Registro inserido com sucesso: 10141607
Registro inserido com sucesso: 10141999
Registro inserido com sucesso: 10142201
Registro inserido com sucesso: 10142266
Registro inserido com sucesso: 10142925
Registro inserido com sucesso: 10143169
Registro inserido com sucesso: 10141518
Registro inserido com sucesso: 10142083
Registro inserido com sucesso: 10142537
Registro inserido com sucesso: 10142628
Registro inserido com sucesso: 10142815
Registro inserido com sucesso: 10142923
Registro inserido com sucesso: 10141822
Registro inserido com sucesso: 10142560
Registro inserido com sucesso: 10142562
Registro inserido com sucesso: 10142773
Registro inserido com sucesso: 10142931
Registro inserido com sucesso: 10143028
Registro inserido com sucesso: 10143140
Registro inserido com sucesso: 10143199
Registro inserido com sucesso: 10142171
Registro inserido com sucesso: 10142179
Registro inserido com sucesso: 10142530
Registro inserido com sucesso: 10143547
Registro inserido com sucesso: 10143621
Registro inserido com sucesso: 10142036
Registro inserido com sucesso: 10142053
Registro inserido com sucesso: 10141582
Registro inserido com sucesso: 10142028
Registro inserido com sucesso: 10142452
Registro inserido com sucesso: 10143075
Registro inserido com sucesso: 10143273
Registro inserido com sucesso: 10143371
Registro inserido com sucesso: 10141615
Registro inserido com sucesso: 10141659
Registro inserido com sucesso: 10141677
Registro inserido com sucesso: 10141835
Registro inserido com sucesso: 10141926
Registro inserido com sucesso: 10141968
Registro inserido com sucesso: 10142317
Registro inserido com sucesso: 10142641
Registro inserido com sucesso: 10143080
Registro inserido com sucesso: 10143191
Registro inserido com sucesso: 10143509
Registro inserido com sucesso: 10143590
Registro inserido com sucesso: 10141520
Registro inserido com sucesso: 10141747
Registro inserido com sucesso: 10142084
Registro inserido com sucesso: 10142120
Registro inserido com sucesso: 10142175
Registro inserido com sucesso: 10142816
Registro inserido com sucesso: 10143073
Registro inserido com sucesso: 10143079
Registro inserido com sucesso: 10141580
Registro inserido com sucesso: 10142357
Registro inserido com sucesso: 10142737
Registro inserido com sucesso: 10142792
Registro inserido com sucesso: 10143033
Registro inserido com sucesso: 10143228
Registro inserido com sucesso: 10143240
Registro inserido com sucesso: 10141799
Registro inserido com sucesso: 10142117
Registro inserido com sucesso: 10142380
Registro inserido com sucesso: 10142559
Registro inserido com sucesso: 10142921
Registro inserido com sucesso: 10143421
Registro inserido com sucesso: 10143553
Registro inserido com sucesso: 10141650
Registro inserido com sucesso: 10142470
Registro inserido com sucesso: 10142508
Registro inserido com sucesso: 10143046
Registro inserido com sucesso: 10143133
Registro inserido com sucesso: 10143543
Registro inserido com sucesso: 10141772
Registro inserido com sucesso: 10141947
Registro inserido com sucesso: 10142106
Registro inserido com sucesso: 10142269
Registro inserido com sucesso: 10142525
Registro inserido com sucesso: 10143277
Registro inserido com sucesso: 10141945
Registro inserido com sucesso: 10142043
Registro inserido com sucesso: 10142519
Registro inserido com sucesso: 10143475
Registro inserido com sucesso: 10143613
Registro inserido com sucesso: 10141792
Registro inserido com sucesso: 10142112
Registro inserido com sucesso: 10142388
Registro inserido com sucesso: 10142876
Registro inserido com sucesso: 10142990
Registro inserido com sucesso: 10143163
Registro inserido com sucesso: 10141673
Registro inserido com sucesso: 10142268
Registro inserido com sucesso: 10142756
Registro inserido com sucesso: 10142867
Registro inserido com sucesso: 10143045
Registro inserido com sucesso: 10143424
Registro inserido com sucesso: 10142023
Registro inserido com sucesso: 10142061
Registro inserido com sucesso: 10142545
Registro inserido com sucesso: 10143092
Registro inserido com sucesso: 10142051
Registro inserido com sucesso: 10142540
Registro inserido com sucesso: 10143157
Registro inserido com sucesso: 10143276
Registro inserido com sucesso: 10142588
Registro inserido com sucesso: 10142976
Registro inserido com sucesso: 10143146
Registro inserido com sucesso: 10143154
Registro inserido com sucesso: 10143323
Registro inserido com sucesso: 10142512
Registro inserido com sucesso: 10142668
Registro inserido com sucesso: 10142685
Registro inserido com sucesso: 10143086
Registro inserido com sucesso: 10143113
Registro inserido com sucesso: 10143253
Registro inserido com sucesso: 10141565
Registro inserido com sucesso: 10142079
Registro inserido com sucesso: 10142232
Registro inserido com sucesso: 10142572
Registro inserido com sucesso: 10142640
Registro inserido com sucesso: 10142750
Registro inserido com sucesso: 10142918
Registro inserido com sucesso: 10142987
Registro inserido com sucesso: 10143060
Registro inserido com sucesso: 10143120
Registro inserido com sucesso: 10142253
Registro inserido com sucesso: 10142335
Registro inserido com sucesso: 10142369
Registro inserido com sucesso: 10142511
Registro inserido com sucesso: 10143436
Registro inserido com sucesso: 10141679
Registro inserido com sucesso: 10142041
Registro inserido com sucesso: 10142638
Registro inserido com sucesso: 10143389
Registro inserido com sucesso: 10141710
Registro inserido com sucesso: 10142160
Registro inserido com sucesso: 10142172
Registro inserido com sucesso: 10142187
Registro inserido com sucesso: 10142290
Registro inserido com sucesso: 10142983
Registro inserido com sucesso: 10143519
Registro inserido com sucesso: 10143580
Registro inserido com sucesso: 10141554
Registro inserido com sucesso: 10141715
Registro inserido com sucesso: 10141863
Registro inserido com sucesso: 10142247
Registro inserido com sucesso: 10142391
Registro inserido com sucesso: 10143200
Registro inserido com sucesso: 10143250

Registro inserido com sucesso: 10141644
Registro inserido com sucesso: 10141705
Registro inserido com sucesso: 10141966
Registro inserido com sucesso: 10142260
Registro inserido com sucesso: 10142336
Registro inserido com sucesso: 10142610
Registro inserido com sucesso: 10143294
Registro inserido com sucesso: 10141528
Registro inserido com sucesso: 10141668
Registro inserido com sucesso: 10141780
Registro inserido com sucesso: 10142620
Registro inserido com sucesso: 10143298
Registro inserido com sucesso: 10143365
Registro inserido com sucesso: 10141564
Registro inserido com sucesso: 10142270
Registro inserido com sucesso: 10143508
Registro inserido com sucesso: 10143556
Registro inserido com sucesso: 10142186
Registro inserido com sucesso: 10142497
Registro inserido com sucesso: 10142587
Registro inserido com sucesso: 10142652
Registro inserido com sucesso: 10142655
Registro inserido com sucesso: 10143056
Registro inserido com sucesso: 10141577
Registro inserido com sucesso: 10141906
Registro inserido com sucesso: 10141916
Registro inserido com sucesso: 10142009
Registro inserido com sucesso: 10142241
Registro inserido com sucesso: 10142273
Registro inserido com sucesso: 10142617
Registro inserido com sucesso: 10143040
Registro inserido com sucesso: 10142557
Registro inserido com sucesso: 10142820
Registro inserido com sucesso: 10143231
Registro inserido com sucesso: 10143521
Registro inserido com sucesso: 10142109
Registro inserido com sucesso: 10142521
Registro inserido com sucesso: 10143134
Registro inserido com sucesso: 10143180
Registro inserido com sucesso: 10143314
Registro inserido com sucesso: 10143433
Registro inserido com sucesso: 10142462
Registro inserido com sucesso: 10142272
Registro inserido com sucesso: 10142698
Registro inserido com sucesso: 10142935
Registro inserido com sucesso: 10143182
Registro inserido com sucesso: 10143339
Registro inserido com sucesso: 10141750
Registro inserido com sucesso: 10142305
Registro inserido com sucesso: 10142788
Registro inserido com sucesso: 10142890
Registro inserido com sucesso: 10141549
Registro inserido com sucesso: 10141831
Registro inserido com sucesso: 10142542
Registro inserido com sucesso: 10142790
Registro inserido com sucesso: 10143019
Registro inserido com sucesso: 10141853
Registro inserido com sucesso: 10142140
Registro inserido com sucesso: 10142166
Registro inserido com sucesso: 10142669
Registro inserido com sucesso: 10142765
Registro inserido com sucesso: 10142936
Registro inserido com sucesso: 10143226
Registro inserido com sucesso: 10141829
Registro inserido com sucesso: 10142605
Registro inserido com sucesso: 10143398
Registro inserido com sucesso: 10142006
Registro inserido com sucesso: 10142151
Registro inserido com sucesso: 10142354
Registro inserido com sucesso: 10143274
Registro inserido com sucesso: 10141790
Registro inserido com sucesso: 10142110
Registro inserido com sucesso: 10142554
Registro inserido com sucesso: 10142688
Registro inserido com sucesso: 10142768
Registro inserido com sucesso: 10143037
Registro inserido com sucesso: 10143057
Registro inserido com sucesso: 10143104
Registro inserido com sucesso: 10143131
Registro inserido com sucesso: 10141587
Registro inserido com sucesso: 10141630
Registro inserido com sucesso: 10142002
Registro inserido com sucesso: 10142503
Registro inserido com sucesso: 10142625
Registro inserido com sucesso: 10142961
Registro inserido com sucesso: 10143252
Registro inserido com sucesso: 10143356
Registro inserido com sucesso: 10143400
Registro inserido com sucesso: 10143512
Registro inserido com sucesso: 10141681
Registro inserido com sucesso: 10142581
Registro inserido com sucesso: 10142736
Registro inserido com sucesso: 10142839
Registro inserido com sucesso: 10143027
Registro inserido com sucesso: 10143048
Registro inserido com sucesso: 10141526
Registro inserido com sucesso: 10141605
Registro inserido com sucesso: 10141609
Registro inserido com sucesso: 10142249
Registro inserido com sucesso: 10142282
Registro inserido com sucesso: 10142602
Registro inserido com sucesso: 10143026
Registro inserido com sucesso: 10143292
Registro inserido com sucesso: 10141875
Registro inserido com sucesso: 10142372
Registro inserido com sucesso: 10143549
Registro inserido com sucesso: 10141550
Registro inserido com sucesso: 10141751
Registro inserido com sucesso: 10141913
Registro inserido com sucesso: 10142780
Registro inserido com sucesso: 10142848
Registro inserido com sucesso: 10142874
Registro inserido com sucesso: 10142958
Registro inserido com sucesso: 10143176
Registro inserido com sucesso: 10143347
Registro inserido com sucesso: 10143025
Registro inserido com sucesso: 10143301
Registro inserido com sucesso: 10142386
Registro inserido com sucesso: 10142832
Registro inserido com sucesso: 10143316
Registro inserido com sucesso: 10143325
Registro inserido com sucesso: 10142134
Registro inserido com sucesso: 10143055
Registro inserido com sucesso: 10143458
Registro inserido com sucesso: 10143476
Registro inserido com sucesso: 10143482
Registro inserido com sucesso: 10143507
Registro inserido com sucesso: 10143586
Registro inserido com sucesso: 10141783
Registro inserido com sucesso: 10142284
Registro inserido com sucesso: 10142481
Registro inserido com sucesso: 10142683
Registro inserido com sucesso: 10142953
Registro inserido com sucesso: 10143249
Registro inserido com sucesso: 10143380
Registro inserido com sucesso: 10141556
Registro inserido com sucesso: 10141593
Registro inserido com sucesso: 10143115
Registro inserido com sucesso: 10141854
Registro inserido com sucesso: 10142243
Registro inserido com sucesso: 10142454
Registro inserido com sucesso: 10142553
Registro inserido com sucesso: 10142194
Registro inserido com sucesso: 10142783
Registro inserido com sucesso: 10142932
Registro inserido com sucesso: 10143340
Registro inserido com sucesso: 10143430
Registro inserido com sucesso: 10143474
Registro inserido com sucesso: 10143609
Registro inserido com sucesso: 10141620
Registro inserido com sucesso: 10141917
Registro inserido com sucesso: 10142333
Registro inserido com sucesso: 10142460
Registro inserido com sucesso: 10142506
Registro inserido com sucesso: 10142998
Registro inserido com sucesso: 10143330
Registro inserido com sucesso: 10141830
Registro inserido com sucesso: 10142766
Registro inserido com sucesso: 10141720
Registro inserido com sucesso: 10142356
Registro inserido com sucesso: 10142374
Registro inserido com sucesso: 10142383
Registro inserido com sucesso: 10142784
Registro inserido com sucesso: 10143583
Registro inserido com sucesso: 10142731
Registro inserido com sucesso: 10142748
Registro inserido com sucesso: 10143167
Registro inserido com sucesso: 10143331
Registro inserido com sucesso: 10142397
Registro inserido com sucesso: 10143179
Registro inserido com sucesso: 10141998
Registro inserido com sucesso: 10142039
Registro inserido com sucesso: 10142257
Registro inserido com sucesso: 10142264
Registro inserido com sucesso: 10142682
Registro inserido com sucesso: 10142985
Registro inserido com sucesso: 10143477
Registro inserido com sucesso: 10141933
Registro inserido com sucesso: 10141975
Registro inserido com sucesso: 10142050
Registro inserido com sucesso: 10142465
Registro inserido com sucesso: 10142594
Registro inserido com sucesso: 10142781
Registro inserido com sucesso: 10142785
Registro inserido com sucesso: 10143085
Registro inserido com sucesso: 10143416
Registro inserido com sucesso: 10143457
Registro inserido com sucesso: 10142116
Registro inserido com sucesso: 10142128
Registro inserido com sucesso: 10142424
Registro inserido com sucesso: 10143415
Registro inserido com sucesso: 10141529
Registro inserido com sucesso: 10142164
Registro inserido com sucesso: 10143197
Registro inserido com sucesso: 10141730
Registro inserido com sucesso: 10141809
Registro inserido com sucesso: 10142523
Registro inserido com sucesso: 10142570
Registro inserido com sucesso: 10142732
Registro inserido com sucesso: 10143100
Registro inserido com sucesso: 10143287
Registro inserido com sucesso: 10143410
Registro inserido com sucesso: 10143485
Registro inserido com sucesso: 10143510
Registro inserido com sucesso: 10143554
Registro inserido com sucesso: 10141683
Registro inserido com sucesso: 10141850
Registro inserido com sucesso: 10142062
Registro inserido com sucesso: 10142430
Registro inserido com sucesso: 10142484
Registro inserido com sucesso: 10142541
Registro inserido com sucesso: 10142680
Registro inserido com sucesso: 10143523
Registro inserido com sucesso: 10141824
Registro inserido com sucesso: 10141910
Registro inserido com sucesso: 10141955
Registro inserido com sucesso: 10142143
Registro inserido com sucesso: 10142661
Registro inserido com sucesso: 10143290
Registro inserido com sucesso: 10143451
Registro inserido com sucesso: 10141713
Registro inserido com sucesso: 10141786
Registro inserido com sucesso: 10141534
Registro inserido com sucesso: 10141766
Registro inserido com sucesso: 10141885
Registro inserido com sucesso: 10142226
Registro inserido com sucesso: 10142813
Registro inserido com sucesso: 10141798
Registro inserido com sucesso: 10141941
Registro inserido com sucesso: 10143372
Registro inserido com sucesso: 10143402

Registro inserido com sucesso: 10141574
Registro inserido com sucesso: 10142670
Registro inserido com sucesso: 10143024
Registro inserido com sucesso: 10143478
Registro inserido com sucesso: 10143538
Registro inserido com sucesso: 10141869
Registro inserido com sucesso: 10141959
Registro inserido com sucesso: 10141967
Registro inserido com sucesso: 10142136
Registro inserido com sucesso: 10142504
Registro inserido com sucesso: 10141643
Registro inserido com sucesso: 10141865
Registro inserido com sucesso: 10141989
Registro inserido com sucesso: 10142013
Registro inserido com sucesso: 10142222
Registro inserido com sucesso: 10142318
Registro inserido com sucesso: 10142347
Registro inserido com sucesso: 10142550
Registro inserido com sucesso: 10142864
Registro inserido com sucesso: 10142982
Registro inserido com sucesso: 10141856
Registro inserido com sucesso: 10141895
Registro inserido com sucesso: 10143041
Registro inserido com sucesso: 10143359
Registro inserido com sucesso: 10143432
Registro inserido com sucesso: 10141704
Registro inserido com sucesso: 10142015
Registro inserido com sucesso: 10142033
Registro inserido com sucesso: 10143051
Registro inserido com sucesso: 10143194
Registro inserido com sucesso: 10143210
Registro inserido com sucesso: 10143282
Registro inserido com sucesso: 10143438
Registro inserido com sucesso: 10142018
Registro inserido com sucesso: 10142225
Registro inserido com sucesso: 10142297
Registro inserido com sucesso: 10142726
Registro inserido com sucesso: 10143598
Registro inserido com sucesso: 10142113
Registro inserido com sucesso: 10142169
Registro inserido com sucesso: 10142261
Registro inserido com sucesso: 10142776
Registro inserido com sucesso: 10141784
Registro inserido com sucesso: 10141961
Registro inserido com sucesso: 10142156
Registro inserido com sucesso: 10142371
Registro inserido com sucesso: 10142414
Registro inserido com sucesso: 10142666
Registro inserido com sucesso: 10142700
Registro inserido com sucesso: 10142811
Registro inserido com sucesso: 10143074
Registro inserido com sucesso: 10143081
Registro inserido com sucesso: 10141788
Registro inserido com sucesso: 10142432
Registro inserido com sucesso: 10142946
Registro inserido com sucesso: 10142970
Registro inserido com sucesso: 10141510
Registro inserido com sucesso: 10141519
Registro inserido com sucesso: 10141858
Registro inserido com sucesso: 10142362
Registro inserido com sucesso: 10142757
Registro inserido com sucesso: 10143429
Registro inserido com sucesso: 10143461
Registro inserido com sucesso: 10143481
Registro inserido com sucesso: 10143493
Registro inserido com sucesso: 10143524
Registro inserido com sucesso: 10143559
Registro inserido com sucesso: 10142212
Registro inserido com sucesso: 10142399
Registro inserido com sucesso: 10142501
Registro inserido com sucesso: 10142980
Registro inserido com sucesso: 10143192
Registro inserido com sucesso: 10143207
Registro inserido com sucesso: 10142396
Registro inserido com sucesso: 10143052
Registro inserido com sucesso: 10143153
Registro inserido com sucesso: 10143374
Registro inserido com sucesso: 10143446
Registro inserido com sucesso: 10143560
Registro inserido com sucesso: 10141614
Registro inserido com sucesso: 10141690
Registro inserido com sucesso: 10142482
Registro inserido com sucesso: 10143021
Registro inserido com sucesso: 10143155
Registro inserido com sucesso: 10143317
Registro inserido com sucesso: 10143404
Registro inserido com sucesso: 10143620
Registro inserido com sucesso: 10141805
Registro inserido com sucesso: 10141957
Registro inserido com sucesso: 10142493
Registro inserido com sucesso: 10141514
Registro inserido com sucesso: 10141661
Registro inserido com sucesso: 10142326
Registro inserido com sucesso: 10142648
Registro inserido com sucesso: 10141744
Registro inserido com sucesso: 10141827
Registro inserido com sucesso: 10142012
Registro inserido com sucesso: 10142777
Registro inserido com sucesso: 10142844
Registro inserido com sucesso: 10141631
Registro inserido com sucesso: 10142090
Registro inserido com sucesso: 10142549
Registro inserido com sucesso: 10142667
Registro inserido com sucesso: 10142704
Registro inserido com sucesso: 10142738
Registro inserido com sucesso: 10142933
Registro inserido com sucesso: 10143010
Registro inserido com sucesso: 10143088
Registro inserido com sucesso: 10143189
Registro inserido com sucesso: 10143455
Registro inserido com sucesso: 10141903
Registro inserido com sucesso: 10142496
Registro inserido com sucesso: 10142633
Registro inserido com sucesso: 10142662
Registro inserido com sucesso: 10142841
Registro inserido com sucesso: 10143076
Registro inserido com sucesso: 10143617
Registro inserido com sucesso: 10141585
Registro inserido com sucesso: 10141825
Registro inserido com sucesso: 10142067
Registro inserido com sucesso: 10142797
Registro inserido com sucesso: 10142920
Registro inserido com sucesso: 10143090
Registro inserido com sucesso: 10143385
Registro inserido com sucesso: 10143441
Registro inserido com sucesso: 10141723
Registro inserido com sucesso: 10141936
Registro inserido com sucesso: 10142075
Registro inserido com sucesso: 10142086
Registro inserido com sucesso: 10142809
Registro inserido com sucesso: 10141845
Registro inserido com sucesso: 10141952
Registro inserido com sucesso: 10142693
Registro inserido com sucesso: 10141515
Registro inserido com sucesso: 10142323
Registro inserido com sucesso: 10142405
Registro inserido com sucesso: 10143136
Registro inserido com sucesso: 10141536
Registro inserido com sucesso: 10141654
Registro inserido com sucesso: 10141871
Registro inserido com sucesso: 10141997
Registro inserido com sucesso: 10142139
Registro inserido com sucesso: 10142695
Registro inserido com sucesso: 10142930
Registro inserido com sucesso: 10143257
Registro inserido com sucesso: 10143567
Registro inserido com sucesso: 10141734
Registro inserido com sucesso: 10141900
Registro inserido com sucesso: 10142348
Registro inserido com sucesso: 10142860
Registro inserido com sucesso: 10143318
Registro inserido com sucesso: 10141557
Registro inserido com sucesso: 10142338
Registro inserido com sucesso: 10141818
Registro inserido com sucesso: 10142054
Registro inserido com sucesso: 10142671
Registro inserido com sucesso: 10143137
Registro inserido com sucesso: 10143156
Registro inserido com sucesso: 10143425
Registro inserido com sucesso: 10142049
Registro inserido com sucesso: 10142196
Registro inserido com sucesso: 10142328
Registro inserido com sucesso: 10142647
Registro inserido com sucesso: 10142686
Registro inserido com sucesso: 10143139
Registro inserido com sucesso: 10141512
Registro inserido com sucesso: 10141589
Registro inserido com sucesso: 10141637
Registro inserido com sucesso: 10142677
Registro inserido com sucesso: 10141612
Registro inserido com sucesso: 10141844
Registro inserido com sucesso: 10142214
Registro inserido com sucesso: 10142439
Registro inserido com sucesso: 10142479
Registro inserido com sucesso: 10142608
Registro inserido com sucesso: 10143006
Registro inserido com sucesso: 10143125
Registro inserido com sucesso: 10143186
Registro inserido com sucesso: 10143545
Registro inserido com sucesso: 10141777
Registro inserido com sucesso: 10141893
Registro inserido com sucesso: 10142703
Registro inserido com sucesso: 10142794
Registro inserido com sucesso: 10143017
Registro inserido com sucesso: 10143196
Registro inserido com sucesso: 10143204
Registro inserido com sucesso: 10141503
Registro inserido com sucesso: 10142433
Registro inserido com sucesso: 10142446
Registro inserido com sucesso: 10142450
Registro inserido com sucesso: 10142513
Registro inserido com sucesso: 10142714
Registro inserido com sucesso: 10141596
Registro inserido com sucesso: 10142021
Registro inserido com sucesso: 10142133
Registro inserido com sucesso: 10142445
Registro inserido com sucesso: 10142635
Registro inserido com sucesso: 10142694
Registro inserido com sucesso: 10143166
Registro inserido com sucesso: 10141769
Registro inserido com sucesso: 10142031
Registro inserido com sucesso: 10142204
Registro inserido com sucesso: 10142395
Registro inserido com sucesso: 10142632
Registro inserido com sucesso: 10141625
Registro inserido com sucesso: 10142068
Registro inserido com sucesso: 10143044
Registro inserido com sucesso: 10143541
Registro inserido com sucesso: 10143596
Registro inserido com sucesso: 10141583
Registro inserido com sucesso: 10141657
Registro inserido com sucesso: 10141793
Registro inserido com sucesso: 10142364
Registro inserido com sucesso: 10142879
Registro inserido com sucesso: 10142892
Registro inserido com sucesso: 10143407
Registro inserido com sucesso: 10143591
Registro inserido com sucesso: 10141635
Registro inserido com sucesso: 10142131
Registro inserido com sucesso: 10143603
Registro inserido com sucesso: 10141601
Registro inserido com sucesso: 10141880
Registro inserido com sucesso: 10141912
Registro inserido com sucesso: 10141969
Registro inserido com sucesso: 10141980
Registro inserido com sucesso: 10142568
Registro inserido com sucesso: 10142827
Registro inserido com sucesso: 10142974
Registro inserido com sucesso: 10141552
Registro inserido com sucesso: 10141891
Registro inserido com sucesso: 10142713
Registro inserido com sucesso: 10143496
Registro inserido com sucesso: 10141600
Registro inserido com sucesso: 10141660
Registro inserido com sucesso: 10141963
Registro inserido com sucesso: 10142469

Registro inserido com sucesso: 10142595
Registro inserido com sucesso: 10142769
Registro inserido com sucesso: 10143414
Registro inserido com sucesso: 10141701
Registro inserido com sucesso: 10142104
Registro inserido com sucesso: 10142259
Registro inserido com sucesso: 10142279
Registro inserido com sucesso: 10143123
Registro inserido com sucesso: 10141739
Registro inserido com sucesso: 10142419
Registro inserido com sucesso: 10142660
Registro inserido com sucesso: 10142967
Registro inserido com sucesso: 10143305
Registro inserido com sucesso: 10143542
Registro inserido com sucesso: 10143587
Registro inserido com sucesso: 10141878
Registro inserido com sucesso: 10141958
Registro inserido com sucesso: 10142427
Registro inserido com sucesso: 10141770
Registro inserido com sucesso: 10142092
Registro inserido com sucesso: 10142600
Registro inserido com sucesso: 10142159
Registro inserido com sucesso: 10142889
Registro inserido com sucesso: 10143473
Registro inserido com sucesso: 10143616
Registro inserido com sucesso: 10142289
Registro inserido com sucesso: 10142373
Registro inserido com sucesso: 10142673
Registro inserido com sucesso: 10143300
Registro inserido com sucesso: 10141767
Registro inserido com sucesso: 10141866
Registro inserido com sucesso: 10141937
Registro inserido com sucesso: 10142676
Registro inserido com sucesso: 10142739
Registro inserido com sucesso: 10143291
Registro inserido com sucesso: 10141807
Registro inserido com sucesso: 10141808
Registro inserido com sucesso: 10141932
Registro inserido com sucesso: 10142312
Registro inserido com sucesso: 10142322
Registro inserido com sucesso: 10142535
Registro inserido com sucesso: 10142710
Registro inserido com sucesso: 10142883
Registro inserido com sucesso: 10143193
Registro inserido com sucesso: 10143315
Registro inserido com sucesso: 10143377
Registro inserido com sucesso: 10142489
Registro inserido com sucesso: 10143003
Registro inserido com sucesso: 10143328
Registro inserido com sucesso: 10142184
Registro inserido com sucesso: 10143258
Registro inserido com sucesso: 10141616
Registro inserido com sucesso: 10142384
Registro inserido com sucesso: 10142646
Registro inserido com sucesso: 10142882
Registro inserido com sucesso: 10142898
Registro inserido com sucesso: 10143349
Registro inserido com sucesso: 10143435
Registro inserido com sucesso: 10141516
Registro inserido com sucesso: 10141828
Registro inserido com sucesso: 10142102
Registro inserido com sucesso: 10142637
Registro inserido com sucesso: 10143242
Registro inserido com sucesso: 10142561
Registro inserido com sucesso: 10142954
Registro inserido com sucesso: 10143177
Registro inserido com sucesso: 10143525
Registro inserido com sucesso: 10141773
Registro inserido com sucesso: 10142073
Registro inserido com sucesso: 10142381
Registro inserido com sucesso: 10142546
Registro inserido com sucesso: 10142742
Registro inserido com sucesso: 10143593
Registro inserido com sucesso: 10142138
Registro inserido com sucesso: 10142168
Registro inserido com sucesso: 10142337
Registro inserido com sucesso: 10142370
Registro inserido com sucesso: 10142415
Registro inserido com sucesso: 10142659
Registro inserido com sucesso: 10143224
Registro inserido com sucesso: 10143375
Registro inserido com sucesso: 10142108
Registro inserido com sucesso: 10142332
Registro inserido com sucesso: 10142696
Registro inserido com sucesso: 10142810
Registro inserido com sucesso: 10143011
Registro inserido com sucesso: 10143203
Registro inserido com sucesso: 10142115
Registro inserido com sucesso: 10142749
Registro inserido com sucesso: 10142972
Registro inserido com sucesso: 10143610
Registro inserido com sucesso: 10142296
Registro inserido com sucesso: 10142709
Registro inserido com sucesso: 10143578
Registro inserido com sucesso: 10142188
Registro inserido com sucesso: 10142197
Registro inserido com sucesso: 10142528
Registro inserido com sucesso: 10142566
Registro inserido com sucesso: 10143335
Registro inserido com sucesso: 10143392
Registro inserido com sucesso: 10143471
Registro inserido com sucesso: 10143563
Registro inserido com sucesso: 10141537
Registro inserido com sucesso: 10142913
Registro inserido com sucesso: 10143001
Registro inserido com sucesso: 10143061
Registro inserido com sucesso: 10143118
Registro inserido com sucesso: 10143130
Registro inserido com sucesso: 10141810
Registro inserido com sucesso: 10142363
Registro inserido com sucesso: 10142406
Registro inserido com sucesso: 10143319
Registro inserido com sucesso: 10142392
Registro inserido com sucesso: 10142650
Registro inserido com sucesso: 10142706
Registro inserido com sucesso: 10142850
Registro inserido com sucesso: 10142947
Registro inserido com sucesso: 10143536
Registro inserido com sucesso: 10141642
Registro inserido com sucesso: 10142474
Registro inserido com sucesso: 10142593
Registro inserido com sucesso: 10142919
Registro inserido com sucesso: 10142099
Registro inserido com sucesso: 10142808
Registro inserido com sucesso: 10142111
Registro inserido com sucesso: 10141718
Registro inserido com sucesso: 10142795
Registro inserido com sucesso: 10143223
Registro inserido com sucesso: 10141735
Registro inserido com sucesso: 10142155
Registro inserido com sucesso: 10142455
Registro inserido com sucesso: 10142691
Registro inserido com sucesso: 10142751
Registro inserido com sucesso: 10141611
Registro inserido com sucesso: 10141636
Registro inserido com sucesso: 10141837
Registro inserido com sucesso: 10141859
Registro inserido com sucesso: 10142494
Registro inserido com sucesso: 10143152
Registro inserido com sucesso: 10142627
Registro inserido com sucesso: 10142975
Registro inserido com sucesso: 10143014
Registro inserido com sucesso: 10143050
Registro inserido com sucesso: 10143462
Registro inserido com sucesso: 10141695
Registro inserido com sucesso: 10141724
Registro inserido com sucesso: 10141740
Registro inserido com sucesso: 10141796
Registro inserido com sucesso: 10141811
Registro inserido com sucesso: 10142891
Registro inserido com sucesso: 10142361
Registro inserido com sucesso: 10142952
Registro inserido com sucesso: 10143426
Registro inserido com sucesso: 10141721
Registro inserido com sucesso: 10141848
Registro inserido com sucesso: 10141981
Registro inserido com sucesso: 10142011
Registro inserido com sucesso: 10142170
Registro inserido com sucesso: 10142300
Registro inserido com sucesso: 10142728
Registro inserido com sucesso: 10142870
Registro inserido com sucesso: 10141530
Registro inserido com sucesso: 10142589
Registro inserido com sucesso: 10142692
Registro inserido com sucesso: 10141699
Registro inserido com sucesso: 10141771
Registro inserido com sucesso: 10142758
Registro inserido com sucesso: 10142903
Registro inserido com sucesso: 10143342
Registro inserido com sucesso: 10141532
Registro inserido com sucesso: 10141563
Registro inserido com sucesso: 10141658
Registro inserido com sucesso: 10142121
Registro inserido com sucesso: 10142491
Registro inserido com sucesso: 10142639
Registro inserido com sucesso: 10142716
Registro inserido com sucesso: 10142887
Registro inserido com sucesso: 10142926
Registro inserido com sucesso: 10143321
Registro inserido com sucesso: 10143403
Registro inserido com sucesso: 10143491
Registro inserido com sucesso: 10141641
Registro inserido com sucesso: 10141787
Registro inserido com sucesso: 10142697
Registro inserido com sucesso: 10142866
Registro inserido com sucesso: 10143174
Registro inserido com sucesso: 10143386
Registro inserido com sucesso: 10142149
Registro inserido com sucesso: 10142730
Registro inserido com sucesso: 10143248
Registro inserido com sucesso: 10142472
Registro inserido com sucesso: 10142509
Registro inserido com sucesso: 10142778
Registro inserido com sucesso: 10143486
Registro inserido com sucesso: 10141586
Registro inserido com sucesso: 10141703
Registro inserido com sucesso: 10141939
Registro inserido com sucesso: 10141990
Registro inserido com sucesso: 10142199
Registro inserido com sucesso: 10143369
Registro inserido com sucesso: 10143487
Registro inserido com sucesso: 10142125
Registro inserido com sucesso: 10142378
Registro inserido com sucesso: 10142495
Registro inserido com sucesso: 10142543
Registro inserido com sucesso: 10143468
Registro inserido com sucesso: 10141573
Registro inserido com sucesso: 10142135
Registro inserido com sucesso: 10142163
Registro inserido com sucesso: 10142502
Registro inserido com sucesso: 10142674
Registro inserido com sucesso: 10143234
Registro inserido com sucesso: 10142636
Registro inserido com sucesso: 10142804
Registro inserido com sucesso: 10143008
Registro inserido com sucesso: 10143265
Registro inserido com sucesso: 10142420
Registro inserido com sucesso: 10143175
Registro inserido com sucesso: 10141886
Registro inserido com sucesso: 10142532
Registro inserido com sucesso: 10142564

Registro inserido com sucesso: 10142753
Registro inserido com sucesso: 10143334
Registro inserido com sucesso: 10141531
Registro inserido com sucesso: 10141746
Registro inserido com sucesso: 10142316
Registro inserido com sucesso: 10142349
Registro inserido com sucesso: 10142806
Registro inserido com sucesso: 10142875
Registro inserido com sucesso: 10143362
Registro inserido com sucesso: 10141983
Registro inserido com sucesso: 10142070
Registro inserido com sucesso: 10142538
Registro inserido com sucesso: 10142793
Registro inserido com sucesso: 10143035
Registro inserido com sucesso: 10143236
Registro inserido com sucesso: 10143352
Registro inserido com sucesso: 10143355
Registro inserido com sucesso: 10141608
Registro inserido com sucesso: 10141815
Registro inserido com sucesso: 10141962
Registro inserido com sucesso: 10142137
Registro inserido com sucesso: 10142275
Registro inserido com sucesso: 10142315
Registro inserido com sucesso: 10142818
Registro inserido com sucesso: 10142993
Registro inserido com sucesso: 10143454
Registro inserido com sucesso: 10142398
Registro inserido com sucesso: 10142896
Registro inserido com sucesso: 10143412
Registro inserido com sucesso: 10143428
Registro inserido com sucesso: 10141663
Registro inserido com sucesso: 10142359
Registro inserido com sucesso: 10142366
Registro inserido com sucesso: 10142865
Registro inserido com sucesso: 10142057
Registro inserido com sucesso: 10142101
Registro inserido com sucesso: 10142629
Registro inserido com sucesso: 10142849
Registro inserido com sucesso: 10142973
Registro inserido com sucesso: 10143111
Registro inserido com sucesso: 10143614
Registro inserido com sucesso: 10141923
Registro inserido com sucesso: 10142292
Registro inserido com sucesso: 10142616
Registro inserido com sucesso: 10142705
Registro inserido com sucesso: 10142796
Registro inserido com sucesso: 10141595
Registro inserido com sucesso: 10142574
Registro inserido com sucesso: 10142679
Registro inserido com sucesso: 10142945
Registro inserido com sucesso: 10143020
Registro inserido com sucesso: 10143069
Registro inserido com sucesso: 10143107
Registro inserido com sucesso: 10143393
Registro inserido com sucesso: 10142035
Registro inserido com sucesso: 10142774
Registro inserido com sucesso: 10143401
Registro inserido com sucesso: 10143550
Registro inserido com sucesso: 10143601
Registro inserido com sucesso: 10143622
Registro inserido com sucesso: 10143625
Registro inserido com sucesso: 10141758
Registro inserido com sucesso: 10141901
Registro inserido com sucesso: 10142280
Registro inserido com sucesso: 10143209
Registro inserido com sucesso: 10141669
Registro inserido com sucesso: 10141960
Registro inserido com sucesso: 10142182
Registro inserido com sucesso: 10142248
Registro inserido com sucesso: 10142880
Registro inserido com sucesso: 10142949
Registro inserido com sucesso: 10143243
Registro inserido com sucesso: 10143332
Registro inserido com sucesso: 10143540
Registro inserido com sucesso: 10143576
Registro inserido com sucesso: 10141507
Registro inserido com sucesso: 10142152
Registro inserido com sucesso: 10142288
Registro inserido com sucesso: 10142943
Registro inserido com sucesso: 10143259
Registro inserido com sucesso: 10143408
Registro inserido com sucesso: 10142144
Registro inserido com sucesso: 10142624
Registro inserido com sucesso: 10142942
Registro inserido com sucesso: 10143263
Registro inserido com sucesso: 10142016
Registro inserido com sucesso: 10142351
Registro inserido com sucesso: 10142634
Registro inserido com sucesso: 10143238
Registro inserido com sucesso: 10141797
Registro inserido com sucesso: 10142066
Registro inserido com sucesso: 10142091
Registro inserido com sucesso: 10142340
Registro inserido com sucesso: 10142461
Registro inserido com sucesso: 10143348
Registro inserido com sucesso: 10143391
Registro inserido com sucesso: 10141846
Registro inserido com sucesso: 10141934
Registro inserido com sucesso: 10141985
Registro inserido com sucesso: 10142684
Registro inserido com sucesso: 10142822
Registro inserido com sucesso: 10142886
Registro inserido com sucesso: 10143213
Registro inserido com sucesso: 10141892
Registro inserido com sucesso: 10142729
Registro inserido com sucesso: 10143132
Registro inserido com sucesso: 10143278
Registro inserido com sucesso: 10143489
Registro inserido com sucesso: 10142024
Registro inserido com sucesso: 10142064
Registro inserido com sucesso: 10142368
Registro inserido com sucesso: 10142885
Registro inserido com sucesso: 10143208
Registro inserido com sucesso: 10143296
Registro inserido com sucesso: 10141732
Registro inserido com sucesso: 10143220
Registro inserido com sucesso: 10143506
Registro inserido com sucesso: 10141884
Registro inserido com sucesso: 10141920
Registro inserido com sucesso: 10142076
Registro inserido com sucesso: 10141646
Registro inserido com sucesso: 10141794
Registro inserido com sucesso: 10141954
Registro inserido com sucesso: 10142100
Registro inserido com sucesso: 10142129
Registro inserido com sucesso: 10142800
Registro inserido com sucesso: 10143147
Registro inserido com sucesso: 10143574
Registro inserido com sucesso: 10141738
Registro inserido com sucesso: 10142478
Registro inserido com sucesso: 10143310
Registro inserido com sucesso: 10143448
Registro inserido com sucesso: 10141755
Registro inserido com sucesso: 10142805
Registro inserido com sucesso: 10141543
Registro inserido com sucesso: 10141591
Registro inserido com sucesso: 10141873
Registro inserido com sucesso: 10142141
Registro inserido com sucesso: 10142626
Registro inserido com sucesso: 10142979
Registro inserido com sucesso: 10141539
Registro inserido com sucesso: 10141571
Registro inserido com sucesso: 10141922
Registro inserido com sucesso: 10142183
Registro inserido com sucesso: 10142242
Registro inserido com sucesso: 10142575
Registro inserido com sucesso: 10143038
Registro inserido com sucesso: 10143164
Registro inserido com sucesso: 10141897
Registro inserido com sucesso: 10142026
Registro inserido com sucesso: 10142854
Registro inserido com sucesso: 10143009
Registro inserido com sucesso: 10143516
Registro inserido com sucesso: 10141843
Registro inserido com sucesso: 10141864
Registro inserido com sucesso: 10142477
Registro inserido com sucesso: 10142656
Registro inserido com sucesso: 10142978
Registro inserido com sucesso: 10143229
Registro inserido com sucesso: 10143466
Registro inserido com sucesso: 10143589
Registro inserido com sucesso: 10141527
Registro inserido com sucesso: 10142256
Registro inserido com sucesso: 10142817
Registro inserido com sucesso: 10143268
Registro inserido com sucesso: 10141943
Registro inserido com sucesso: 10142584
Registro inserido com sucesso: 10142721
Registro inserido com sucesso: 10142873
Registro inserido com sucesso: 10142962
Registro inserido com sucesso: 10143032
Registro inserido com sucesso: 10143327
Registro inserido com sucesso: 10143422
Registro inserido com sucesso: 10142303
Registro inserido com sucesso: 10142453
Registro inserido com sucesso: 10142825
Registro inserido com sucesso: 10143018
Registro inserido com sucesso: 10143198
Registro inserido com sucesso: 10143418
Registro inserido com sucesso: 10143488
Registro inserido com sucesso: 10141676
Registro inserido com sucesso: 10141697
Registro inserido com sucesso: 10141729
Registro inserido com sucesso: 10142567
Registro inserido com sucesso: 10142720
Registro inserido com sucesso: 10142826
Registro inserido com sucesso: 10143445
Registro inserido com sucesso: 10143565
Registro inserido com sucesso: 10141651
Registro inserido com sucesso: 10142846
Registro inserido com sucesso: 10142857
Registro inserido com sucesso: 10143505
Registro inserido com sucesso: 10142278
Registro inserido com sucesso: 10142411
Registro inserido com sucesso: 10141522
Registro inserido com sucesso: 10141566
Registro inserido com sucesso: 10141627
Registro inserido com sucesso: 10141670
Registro inserido com sucesso: 10141841
Registro inserido com sucesso: 10141855
Registro inserido com sucesso: 10141867
Registro inserido com sucesso: 10142146
Registro inserido com sucesso: 10142486
Registro inserido com sucesso: 10142905
Registro inserido com sucesso: 10142927
Registro inserido com sucesso: 10143058
Registro inserido com sucesso: 10143102
Registro inserido com sucesso: 10141979
Registro inserido com sucesso: 10142000
Registro inserido com sucesso: 10142017
Registro inserido com sucesso: 10142276
Registro inserido com sucesso: 10142413
Registro inserido com sucesso: 10142476
Registro inserido com sucesso: 10142518
Registro inserido com sucesso: 10142563
Registro inserido com sucesso: 10143093
Registro inserido com sucesso: 10143469
Registro inserido com sucesso: 10143561
Registro inserido com sucesso: 10141548
Registro inserido com sucesso: 10141924
Registro inserido com sucesso: 10142081
Registro inserido com sucesso: 10142438
Registro inserido com sucesso: 10142613
Registro inserido com sucesso: 10143212
Registro inserido com sucesso: 10143605
Registro inserido com sucesso: 10142365
Registro inserido com sucesso: 10142464
Registro inserido com sucesso: 10142527
Registro inserido com sucesso: 10142835
Registro inserido com sucesso: 10143570
Registro inserido com sucesso: 10142618
Registro inserido com sucesso: 10143004
Registro inserido com sucesso: 10141513
Registro inserido com sucesso: 10141579
Registro inserido com sucesso: 10141801
Registro inserido com sucesso: 10141940
Registro inserido com sucesso: 10143108
Registro inserido com sucesso: 10143247
Registro inserido com sucesso: 10143539
Registro inserido com sucesso: 10141814
Registro inserido com sucesso: 10142342
Registro inserido com sucesso: 10142862
Registro inserido com sucesso: 10143329
Registro inserido com sucesso: 10143394
Registro inserido com sucesso: 10141693
Registro inserido com sucesso: 10142263
Registro inserido com sucesso: 10142343
Registro inserido com sucesso: 10143023
Registro inserido com sucesso: 10143244
Registro inserido com sucesso: 10143341
Registro inserido com sucesso: 10143502

Registro inserido com sucesso: 10141907
Registro inserido com sucesso: 10142008
Registro inserido com sucesso: 10142177
Registro inserido com sucesso: 10142295
Registro inserido com sucesso: 10142341
Registro inserido com sucesso: 10142443
Registro inserido com sucesso: 10142734
Registro inserido com sucesso: 10142902
Registro inserido com sucesso: 10143245
Registro inserido com sucesso: 10141561
Registro inserido com sucesso: 10141655
Registro inserido com sucesso: 10142103
Registro inserido com sucesso: 10142298
Registro inserido com sucesso: 10142707
Registro inserido com sucesso: 10142798
Registro inserido com sucesso: 10142966
Registro inserido com sucesso: 10143144
Registro inserido com sucesso: 10141505
Registro inserido com sucesso: 10141640
Registro inserido com sucesso: 10142580
Registro inserido com sucesso: 10142603
Registro inserido com sucesso: 10142915
Registro inserido com sucesso: 10141517
Registro inserido com sucesso: 10141559
Registro inserido com sucesso: 10141648
Registro inserido com sucesso: 10141741
Registro inserido com sucesso: 10142019
Registro inserido com sucesso: 10142059
Registro inserido com sucesso: 10142236
Registro inserido com sucesso: 10142306
Registro inserido com sucesso: 10142309
Registro inserido com sucesso: 10143343
Registro inserido com sucesso: 10143514
Registro inserido com sucesso: 10141956
Registro inserido com sucesso: 10142173
Registro inserido com sucesso: 10142238
Registro inserido com sucesso: 10142551
Registro inserido com sucesso: 10142779
Registro inserido com sucesso: 10143261
Registro inserido com sucesso: 10141896
Registro inserido com sucesso: 10141905
Registro inserido com sucesso: 10142142
Registro inserido com sucesso: 10142216
Registro inserido com sucesso: 10142423
Registro inserido com sucesso: 10142611
Registro inserido com sucesso: 10143338
Registro inserido com sucesso: 10143548
Registro inserido com sucesso: 10141584
Registro inserido com sucesso: 10141628
Registro inserido com sucesso: 10141781
Registro inserido com sucesso: 10142555
Registro inserido com sucesso: 10142833
Registro inserido com sucesso: 10142988
Registro inserido com sucesso: 10143071
Registro inserido com sucesso: 10143124
Registro inserido com sucesso: 10141592
Registro inserido com sucesso: 10141675
Registro inserido com sucesso: 10142394
Registro inserido com sucesso: 10142571
Registro inserido com sucesso: 10142761
Registro inserido com sucesso: 10142964
Registro inserido com sucesso: 10143313
Registro inserido com sucesso: 10143490
Registro inserido com sucesso: 10142421
Registro inserido com sucesso: 10142871
Registro inserido com sucesso: 10143002
Registro inserido com sucesso: 10143095
Registro inserido com sucesso: 10143237
Registro inserido com sucesso: 10142209
Registro inserido com sucesso: 10142569
Registro inserido com sucesso: 10142702
Registro inserido com sucesso: 10143267
Registro inserido com sucesso: 10143302
Registro inserido com sucesso: 10141533
Registro inserido com sucesso: 10141687
Registro inserido com sucesso: 10142657
Registro inserido com sucesso: 10141541
Registro inserido com sucesso: 10141754
Registro inserido com sucesso: 10142250
Registro inserido com sucesso: 10142672
Registro inserido com sucesso: 10143187
Registro inserido com sucesso: 10143293
Registro inserido com sucesso: 10141709
Registro inserido com sucesso: 10142193
Registro inserido com sucesso: 10142717
Registro inserido com sucesso: 10143283
Registro inserido com sucesso: 10143497
Registro inserido com sucesso: 10143612
Registro inserido com sucesso: 10141702
Registro inserido com sucesso: 10141753
Registro inserido com sucesso: 10142123
Registro inserido com sucesso: 10142202
Registro inserido com sucesso: 10142607
Registro inserido com sucesso: 10141555
Registro inserido com sucesso: 10141689
Registro inserido com sucesso: 10141722
Registro inserido com sucesso: 10142274
Registro inserido com sucesso: 10142287
Registro inserido com sucesso: 10142358
Registro inserido com sucesso: 10142760
Registro inserido com sucesso: 10143280
Registro inserido com sucesso: 10143358
Registro inserido com sucesso: 10143390
Registro inserido com sucesso: 10143555
Registro inserido com sucesso: 10143557
Registro inserido com sucesso: 10143623
Registro inserido com sucesso: 10141508
Registro inserido com sucesso: 10141817
Registro inserido com sucesso: 10142030
Registro inserido com sucesso: 10142178
Registro inserido com sucesso: 10143005
Registro inserido com sucesso: 10143564
Registro inserido com sucesso: 10142037
Registro inserido com sucesso: 10142592
Registro inserido com sucesso: 10143378
Registro inserido com sucesso: 10143442
Registro inserido com sucesso: 10142097
Registro inserido com sucesso: 10142701
Registro inserido com sucesso: 10142823
Registro inserido com sucesso: 10143360
Registro inserido com sucesso: 10143364
Registro inserido com sucesso: 10143434
Registro inserido com sucesso: 10141624
Registro inserido com sucesso: 10141638
Registro inserido com sucesso: 10141706
Registro inserido com sucesso: 10141795
Registro inserido com sucesso: 10141838
Registro inserido com sucesso: 10142189
Registro inserido com sucesso: 10143065
Registro inserido com sucesso: 10143205
Registro inserido com sucesso: 10141857
Registro inserido com sucesso: 10141930
Registro inserido com sucesso: 10142285
Registro inserido com sucesso: 10143222
Registro inserido com sucesso: 10142148
Registro inserido com sucesso: 10142539
Registro inserido com sucesso: 10142847
Registro inserido com sucesso: 10141823
Registro inserido com sucesso: 10141953
Registro inserido com sucesso: 10141988
Registro inserido com sucesso: 10142221
Registro inserido com sucesso: 10142830
Registro inserido com sucesso: 10143494
Registro inserido com sucesso: 10143607
Registro inserido com sucesso: 10141599
Registro inserido com sucesso: 10142255
Registro inserido com sucesso: 10142467
Registro inserido com sucesso: 10142582
Registro inserido com sucesso: 10142675
Registro inserido com sucesso: 10143453
Registro inserido com sucesso: 10141511
Registro inserido com sucesso: 10142034
Registro inserido com sucesso: 10142909
Registro inserido com sucesso: 10142118
Registro inserido com sucesso: 10142724
Registro inserido com sucesso: 10142803
Registro inserido com sucesso: 10142834
Registro inserido com sucesso: 10143214
Registro inserido com sucesso: 10143588
Registro inserido com sucesso: 10141711
Registro inserido com sucesso: 10142038
Registro inserido com sucesso: 10142217
Registro inserido com sucesso: 10142251
Registro inserido com sucesso: 10142436
Registro inserido com sucesso: 10142719
Registro inserido com sucesso: 10142764
Registro inserido com sucesso: 10141684
Registro inserido com sucesso: 10143053
Registro inserido com sucesso: 10141525
Registro inserido com sucesso: 10141603
Registro inserido com sucesso: 10141619
Registro inserido com sucesso: 10142157
Registro inserido com sucesso: 10142174
Registro inserido com sucesso: 10143099
Registro inserido com sucesso: 10143162
Registro inserido com sucesso: 10143513
Registro inserido com sucesso: 10141535
Registro inserido com sucesso: 10142449
Registro inserido com sucesso: 10142735
Registro inserido com sucesso: 10143016
Registro inserido com sucesso: 10143094
Registro inserido com sucesso: 10143232
Registro inserido com sucesso: 10141639
Registro inserido com sucesso: 10141736
Registro inserido com sucesso: 10142718
Registro inserido com sucesso: 10143387
Registro inserido com sucesso: 10143443
Registro inserido com sucesso: 10141524
Registro inserido com sucesso: 10141633
Registro inserido com sucesso: 10142293
Registro inserido com sucesso: 10143602
Registro inserido com sucesso: 10141645
Registro inserido com sucesso: 10141785
Registro inserido com sucesso: 10142153
Registro inserido com sucesso: 10142853
Registro inserido com sucesso: 10143459
Registro inserido com sucesso: 10141779
Registro inserido com sucesso: 10141874
Registro inserido com sucesso: 10141935
Registro inserido com sucesso: 10142301
Registro inserido com sucesso: 10143097
Registro inserido com sucesso: 10143098
Registro inserido com sucesso: 10143320
Registro inserido com sucesso: 10143450
Registro inserido com sucesso: 10141761
Registro inserido com sucesso: 10142314
Registro inserido com sucesso: 10142507
Registro inserido com sucesso: 10143270
Registro inserido com sucesso: 10143533
Registro inserido com sucesso: 10143537
Registro inserido com sucesso: 10141927
Registro inserido com sucesso: 10142948
Registro inserido com sucesso: 10143239
Registro inserido com sucesso: 10141964
Registro inserido com sucesso: 10142207
Registro inserido com sucesso: 10142262
Registro inserido com sucesso: 10142304
Registro inserido com sucesso: 10142473
Registro inserido com sucesso: 10142531
Registro inserido com sucesso: 10142573
Registro inserido com sucesso: 10143077
Registro inserido com sucesso: 10143381
Registro inserido com sucesso: 10143594
Registro inserido com sucesso: 10141802
Registro inserido com sucesso: 10141995
Registro inserido com sucesso: 10142434
Registro inserido com sucesso: 10142651
Registro inserido com sucesso: 10142725
Registro inserido com sucesso: 10142754
Registro inserido com sucesso: 10143368
Registro inserido com sucesso: 10141911
Registro inserido com sucesso: 10142082
Registro inserido com sucesso: 10142425
Registro inserido com sucesso: 10142615
Registro inserido com sucesso: 10142678
Registro inserido com sucesso: 10142951
Registro inserido com sucesso: 10143501
Registro inserido com sucesso: 10141887
Registro inserido com sucesso: 10142001
Registro inserido com sucesso: 10142063
Registro inserido com sucesso: 10142114
Registro inserido com sucesso: 10143615
Registro inserido com sucesso: 10141621
Registro inserido com sucesso: 10141634
Registro inserido com sucesso: 10141821
Registro inserido com sucesso: 10142094

Registro inserido com sucesso: 10143034
Registro inserido com sucesso: 10143141
Registro inserido com sucesso: 10143409
Registro inserido com sucesso: 10141662
Registro inserido com sucesso: 10141834
Registro inserido com sucesso: 10141965
Registro inserido com sucesso: 10142377
Registro inserido com sucesso: 10142458
Registro inserido com sucesso: 10142991
Registro inserido com sucesso: 10143251
Registro inserido com sucesso: 10141547
Registro inserido com sucesso: 10141931
Registro inserido com sucesso: 10143264
Registro inserido com sucesso: 10141544
Registro inserido com sucesso: 10141694
Registro inserido com sucesso: 10142162
Registro inserido com sucesso: 10142855
Registro inserido com sucesso: 10141748
Registro inserido com sucesso: 10141951
Registro inserido com sucesso: 10142327
Registro inserido com sucesso: 10142900
Registro inserido com sucesso: 10143043
Registro inserido com sucesso: 10143275
Registro inserido com sucesso: 10143411
Registro inserido com sucesso: 10143499
Registro inserido com sucesso: 10143515
Registro inserido com sucesso: 10141576
Registro inserido com sucesso: 10141803
Registro inserido com sucesso: 10142010
Registro inserido com sucesso: 10142014
Registro inserido com sucesso: 10142767
Registro inserido com sucesso: 10141602
Registro inserido com sucesso: 10141664
Registro inserido com sucesso: 10141666
Registro inserido com sucesso: 10142246
Registro inserido com sucesso: 10142938
Registro inserido com sucesso: 10143151
Registro inserido com sucesso: 10143289
Registro inserido com sucesso: 10141613
Registro inserido com sucesso: 10141919
Registro inserido com sucesso: 10141925
Registro inserido com sucesso: 10141970
Registro inserido com sucesso: 10142167
Registro inserido com sucesso: 10142191
Registro inserido com sucesso: 10142441
Registro inserido com sucesso: 10142514
Registro inserido com sucesso: 10143201
Registro inserido com sucesso: 10143552
Registro inserido com sucesso: 10141728
Registro inserido com sucesso: 10142960
Registro inserido com sucesso: 10143039
Registro inserido com sucesso: 10142052
Registro inserido com sucesso: 10142339
Registro inserido com sucesso: 10142426
Registro inserido com sucesso: 10142894
Registro inserido com sucesso: 10143172
Registro inserido com sucesso: 10143256
Registro inserido com sucesso: 10143336
Registro inserido com sucesso: 10141774
Registro inserido com sucesso: 10142130
Registro inserido com sucesso: 10142422
Registro inserido com sucesso: 10142604
Registro inserido com sucesso: 10142609
Registro inserido com sucesso: 10142744
Registro inserido com sucesso: 10142872
Registro inserido com sucesso: 10142917
Registro inserido com sucesso: 10142950
Registro inserido com sucesso: 10141775
Registro inserido com sucesso: 10141789
Registro inserido com sucesso: 10141984
Registro inserido com sucesso: 10142195
Registro inserido com sucesso: 10143089
Registro inserido com sucesso: 10141894
Registro inserido com sucesso: 10141991
Registro inserido com sucesso: 10142085
Registro inserido com sucesso: 10142389
Registro inserido com sucesso: 10142752
Registro inserido com sucesso: 10143022
Registro inserido com sucesso: 10143117
Registro inserido com sucesso: 10143456
Registro inserido com sucesso: 10143544
Registro inserido com sucesso: 10142529
Registro inserido com sucesso: 10142799
Registro inserido com sucesso: 10143015
Registro inserido com sucesso: 10143447
Registro inserido com sucesso: 10143495
Registro inserido com sucesso: 10141782
Registro inserido com sucesso: 10141946
Registro inserido com sucesso: 10142517
Registro inserido com sucesso: 10142895
Registro inserido com sucesso: 10143379
Registro inserido com sucesso: 10143618
Registro inserido com sucesso: 10141717
Registro inserido com sucesso: 10141918
Registro inserido com sucesso: 10142237
Registro inserido com sucesso: 10142320
Registro inserido com sucesso: 10142500
Registro inserido com sucesso: 10142585
Registro inserido com sucesso: 10142914
Registro inserido com sucesso: 10142929
Registro inserido com sucesso: 10143337
Registro inserido com sucesso: 10143413
Registro inserido com sucesso: 10141575
Registro inserido com sucesso: 10141714
Registro inserido com sucesso: 10141890
Registro inserido com sucesso: 10142516
Registro inserido com sucesso: 10143546
Registro inserido com sucesso: 10141819
Registro inserido com sucesso: 10142596
Registro inserido com sucesso: 10143112
Registro inserido com sucesso: 10143427
Registro inserido com sucesso: 10143467
Registro inserido com sucesso: 10141594
Registro inserido com sucesso: 10142431
Registro inserido com sucesso: 10142837
Registro inserido com sucesso: 10143255
Registro inserido com sucesso: 10143326
Registro inserido com sucesso: 10143366
Registro inserido com sucesso: 10143384
Registro inserido com sucesso: 10143405
Registro inserido com sucesso: 10143452
Registro inserido com sucesso: 10143592
Registro inserido com sucesso: 10141696
Registro inserido com sucesso: 10142281
Registro inserido com sucesso: 10142963
Registro inserido com sucesso: 10141882
Registro inserido com sucesso: 10142150
Registro inserido com sucesso: 10142812
Registro inserido com sucesso: 10142845
Registro inserido com sucesso: 10142912
Registro inserido com sucesso: 10142992
Registro inserido com sucesso: 10143007
Registro inserido com sucesso: 10143206
Registro inserido com sucesso: 10143272
Registro inserido com sucesso: 10143361
Registro inserido com sucesso: 10141597
Registro inserido com sucesso: 10141977
Registro inserido com sucesso: 10142499
Registro inserido com sucesso: 10142723
Registro inserido com sucesso: 10142899
Registro inserido com sucesso: 10143168
Registro inserido com sucesso: 10141598
Registro inserido com sucesso: 10141678
Registro inserido com sucesso: 10142055
Registro inserido com sucesso: 10142192
Registro inserido com sucesso: 10142345
Registro inserido com sucesso: 10142547
Registro inserido com sucesso: 10142645
Registro inserido com sucesso: 10143269
Registro inserido com sucesso: 10143297
Registro inserido com sucesso: 10143406
Registro inserido com sucesso: 10143431
Registro inserido com sucesso: 10141610
Registro inserido com sucesso: 10141776
Registro inserido com sucesso: 10141929
Registro inserido com sucesso: 10142308
Registro inserido com sucesso: 10142404
Registro inserido com sucesso: 10142483
Registro inserido com sucesso: 10143091
Registro inserido com sucesso: 10143285
Registro inserido com sucesso: 10141716
Registro inserido com sucesso: 10142353
Registro inserido com sucesso: 10142376
Registro inserido com sucesso: 10142740
Registro inserido com sucesso: 10142878
Registro inserido com sucesso: 10142897
Registro inserido com sucesso: 10142107
Registro inserido com sucesso: 10141948
Registro inserido com sucesso: 10142048
Registro inserido com sucesso: 10142065
Registro inserido com sucesso: 10142229
Registro inserido com sucesso: 10143566
Registro inserido com sucesso: 10143600
Registro inserido com sucesso: 10141973
Registro inserido com sucesso: 10142346
Registro inserido com sucesso: 10142401
Registro inserido com sucesso: 10142534
Registro inserido com sucesso: 10142746
Registro inserido com sucesso: 10142911
Registro inserido com sucesso: 10143299
Registro inserido com sucesso: 10143382
Registro inserido com sucesso: 10141881
Registro inserido com sucesso: 10142231
Registro inserido com sucesso: 10142770
Registro inserido com sucesso: 10143423
Registro inserido com sucesso: 10143531
Registro inserido com sucesso: 10143597
Registro inserido com sucesso: 10141812
Registro inserido com sucesso: 10142836
Registro inserido com sucesso: 10142906
Registro inserido com sucesso: 10143129
Registro inserido com sucesso: 10141950
Registro inserido com sucesso: 10142385
Registro inserido com sucesso: 10142868
Registro inserido com sucesso: 10142908
Registro inserido com sucesso: 10142842
Registro inserido com sucesso: 10143128
Registro inserido com sucesso: 10143611
Registro inserido com sucesso: 10141545
Registro inserido com sucesso: 10141569
Registro inserido com sucesso: 10141842
Registro inserido com sucesso: 10142451
Registro inserido com sucesso: 10142763
Registro inserido com sucesso: 10142986
Registro inserido com sucesso: 10143148
Registro inserido com sucesso: 10141944
Registro inserido com sucesso: 10142042
Registro inserido com sucesso: 10142488
Registro inserido com sucesso: 10143534
Registro inserido com sucesso: 10143572
Registro inserido com sucesso: 10141606
Registro inserido com sucesso: 10141691
Registro inserido com sucesso: 10141902
Registro inserido com sucesso: 10142228
Registro inserido com sucesso: 10142619
Registro inserido com sucesso: 10142916
Registro inserido com sucesso: 10143295
Registro inserido com sucesso: 10143346
Registro inserido com sucesso: 10143619
Registro inserido com sucesso: 10142230
Registro inserido com sucesso: 10143202
Registro inserido com sucesso: 10142321
Registro inserido com sucesso: 10142599
Registro inserido com sucesso: 10142940
Registro inserido com sucesso: 10143504
Registro inserido com sucesso: 10142071
Registro inserido com sucesso: 10143000
Registro inserido com sucesso: 10143304
Registro inserido com sucesso: 10142180
Registro inserido com sucesso: 10142437
Registro inserido com sucesso: 10142937
Registro inserido com sucesso: 10142959
Registro inserido com sucesso: 10142996
Registro inserido com sucesso: 10143127
Registro inserido com sucesso: 10143135
Registro inserido com sucesso: 10143216
Registro inserido com sucesso: 10143470
Registro inserido com sucesso: 10141568
Registro inserido com sucesso: 10141686
Registro inserido com sucesso: 10141791
Registro inserido com sucesso: 10142074
Registro inserido com sucesso: 10142665
Registro inserido com sucesso: 10143049
Registro inserido com sucesso: 10143178
Registro inserido com sucesso: 10142044
Registro inserido com sucesso: 10142311
Registro inserido com sucesso: 10142533

Registro inserido com sucesso: 10142642
Registro inserido com sucesso: 10143503
Registro inserido com sucesso: 10143551
Registro inserido com sucesso: 10142644
Registro inserido com sucesso: 10142843
Registro inserido com sucesso: 10141847
Registro inserido com sucesso: 10142224
Registro inserido com sucesso: 10142824
Registro inserido com sucesso: 10143183
Registro inserido com sucesso: 10143571
Registro inserido com sucesso: 10142027
Registro inserido com sucesso: 10142190
Registro inserido com sucesso: 10142350
Registro inserido com sucesso: 10142755
Registro inserido com sucesso: 10143105
Registro inserido com sucesso: 10143116
Registro inserido com sucesso: 10143584
Registro inserido com sucesso: 10141506
Registro inserido com sucesso: 10142387
Registro inserido com sucesso: 10142390
Registro inserido com sucesso: 10142487
Registro inserido com sucesso: 10143235
Registro inserido com sucesso: 10143303
Registro inserido com sucesso: 10143417
Registro inserido com sucesso: 10143604
Registro inserido com sucesso: 10142047
Registro inserido com sucesso: 10142239
Registro inserido com sucesso: 10142583
Registro inserido com sucesso: 10142838
Registro inserido com sucesso: 10143101
Registro inserido com sucesso: 10143344
Registro inserido com sucesso: 10141682
Registro inserido com sucesso: 10142234
Registro inserido com sucesso: 10142355
Registro inserido com sucesso: 10142510
Registro inserido com sucesso: 10143068
Registro inserido com sucesso: 10143170
Registro inserido com sucesso: 10143517
Registro inserido com sucesso: 10141623
Registro inserido com sucesso: 10141974
Registro inserido com sucesso: 10142213
Registro inserido com sucesso: 10142457
Registro inserido com sucesso: 10142490
Registro inserido com sucesso: 10143083
Registro inserido com sucesso: 10143254
Registro inserido com sucesso: 10143479
Registro inserido com sucesso: 10141725
Registro inserido com sucesso: 10141731
Registro inserido com sucesso: 10141800
Registro inserido com sucesso: 10141852
Registro inserido com sucesso: 10142045
Registro inserido com sucesso: 10142147
Registro inserido com sucesso: 10142244
Registro inserido com sucesso: 10142331
Registro inserido com sucesso: 10143042
Registro inserido com sucesso: 10143215
Registro inserido com sucesso: 10141719
Registro inserido com sucesso: 10141868
Registro inserido com sucesso: 10141883
Registro inserido com sucesso: 10142375
Registro inserido com sucesso: 10142957
Registro inserido com sucesso: 10143528
Registro inserido com sucesso: 10143573
Registro inserido com sucesso: 10141590
Registro inserido com sucesso: 10141649
Registro inserido com sucesso: 10141914
Registro inserido com sucesso: 10142200
Registro inserido com sucesso: 10142245
Registro inserido com sucesso: 10142400
Registro inserido com sucesso: 10142485
Registro inserido com sucesso: 10142802
Registro inserido com sucesso: 10143096
Registro inserido com sucesso: 10143218
Registro inserido com sucesso: 10143225
Registro inserido com sucesso: 10143230
Registro inserido com sucesso: 10141904
Registro inserido com sucesso: 10142747
Registro inserido com sucesso: 10143029
Registro inserido com sucesso: 10143357
Registro inserido com sucesso: 10141756
Registro inserido com sucesso: 10142283
Registro inserido com sucesso: 10142524
Registro inserido com sucesso: 10142743
Registro inserido com sucesso: 10142910
Registro inserido com sucesso: 10143054
Registro inserido com sucesso: 10141692
Registro inserido com sucesso: 10141872
Registro inserido com sucesso: 10142022
Registro inserido com sucesso: 10142407
Registro inserido com sucesso: 10142622
Registro inserido com sucesso: 10142904
Registro inserido com sucesso: 10143500
Registro inserido com sucesso: 10141618
Registro inserido com sucesso: 10141889
Registro inserido com sucesso: 10142235
Registro inserido com sucesso: 10142807
Registro inserido com sucesso: 10143036
Registro inserido com sucesso: 10143575
Registro inserido com sucesso: 10142789
Registro inserido com sucesso: 10143449
Registro inserido com sucesso: 10142203
Registro inserido com sucesso: 10142205
Registro inserido com sucesso: 10142220
Registro inserido com sucesso: 10142367
Registro inserido com sucesso: 10142444
Registro inserido com sucesso: 10142459
Registro inserido com sucesso: 10142526
Registro inserido com sucesso: 10142689
Registro inserido com sucesso: 10143063
Registro inserido com sucesso: 10141816
Registro inserido com sucesso: 10142198
Registro inserido com sucesso: 10143498
Registro inserido com sucesso: 10141849
Registro inserido com sucesso: 10142096
Registro inserido com sucesso: 10142258
Registro inserido com sucesso: 10142771
Registro inserido com sucesso: 10142934
Registro inserido com sucesso: 10143354
Registro inserido com sucesso: 10143444
Registro inserido com sucesso: 10143518
Registro inserido com sucesso: 10141674
Registro inserido com sucesso: 10141994
Registro inserido com sucesso: 10143190
Registro inserido com sucesso: 10143322
Registro inserido com sucesso: 10142025
Registro inserido com sucesso: 10142456
Registro inserido com sucesso: 10143465
Registro inserido com sucesso: 10141501
Registro inserido com sucesso: 10142417
Registro inserido com sucesso: 10142861
Registro inserido com sucesso: 10143122
Registro inserido com sucesso: 10143522
Registro inserido com sucesso: 10142382
Registro inserido com sucesso: 10142429
Registro inserido com sucesso: 10142447
Registro inserido com sucesso: 10142944
Registro inserido com sucesso: 10142956
Registro inserido com sucesso: 10143103
Registro inserido com sucesso: 10143221
Registro inserido com sucesso: 10143279
Registro inserido com sucesso: 10143373
Registro inserido com sucesso: 10143581
Registro inserido com sucesso: 10141622
Registro inserido com sucesso: 10141680
Registro inserido com sucesso: 10141813
Registro inserido com sucesso: 10142271
Registro inserido com sucesso: 10142409
Registro inserido com sucesso: 10142558
Registro inserido com sucesso: 10143376
Registro inserido com sucesso: 10143492
Registro inserido com sucesso: 10141509
Registro inserido com sucesso: 10142233
Registro inserido com sucesso: 10142448
Registro inserido com sucesso: 10142741
Registro inserido com sucesso: 10142786
Registro inserido com sucesso: 10142791
Registro inserido com sucesso: 10142968
Registro inserido com sucesso: 10141546
Registro inserido com sucesso: 10141647
Registro inserido com sucesso: 10141840
Registro inserido com sucesso: 10142176
Registro inserido com sucesso: 10142631
Registro inserido com sucesso: 10143059
Registro inserido com sucesso: 10142403
Registro inserido com sucesso: 10142577
Registro inserido com sucesso: 10142814
Registro inserido com sucesso: 10142884
Registro inserido com sucesso: 10143150
Registro inserido com sucesso: 10143483
Registro inserido com sucesso: 10141551
Registro inserido com sucesso: 10141629
Registro inserido com sucesso: 10141707
Registro inserido com sucesso: 10142132
Registro inserido com sucesso: 10142307
Registro inserido com sucesso: 10142612
Registro inserido com sucesso: 10143109
Registro inserido com sucesso: 10143143
Registro inserido com sucesso: 10143262
Registro inserido com sucesso: 10141540
Registro inserido com sucesso: 10141667
Registro inserido com sucesso: 10142410
Registro inserido com sucesso: 10142468
Registro inserido com sucesso: 10142858
Registro inserido com sucesso: 10142995
Registro inserido com sucesso: 10143260
Registro inserido com sucesso: 10143399
Registro inserido com sucesso: 10142087
Registro inserido com sucesso: 10142095
Registro inserido com sucesso: 10142901
Registro inserido com sucesso: 10143211
Registro inserido com sucesso: 10142653
Registro inserido com sucesso: 10143126
Registro inserido com sucesso: 10141700
Registro inserido com sucesso: 10141757
Registro inserido com sucesso: 10141972
Registro inserido com sucesso: 10142060
Registro inserido com sucesso: 10142623
Registro inserido com sucesso: 10142831
Registro inserido com sucesso: 10142852
Registro inserido com sucesso: 10143072
Registro inserido com sucesso: 10143219
Registro inserido com sucesso: 10143350
Registro inserido com sucesso: 10143562
Registro inserido com sucesso: 10141572
Registro inserido com sucesso: 10142004
Registro inserido com sucesso: 10142069
Registro inserido com sucesso: 10142219
Registro inserido com sucesso: 10142324
Registro inserido com sucesso: 10142515
Registro inserido com sucesso: 10142565
Registro inserido com sucesso: 10142712
Registro inserido com sucesso: 10143324
Registro inserido com sucesso: 10142029
Registro inserido com sucesso: 10142105
Registro inserido com sucesso: 10142302
Registro inserido com sucesso: 10142334
Registro inserido com sucesso: 10142606
Registro inserido com sucesso: 10142888
Registro inserido com sucesso: 10142994
Registro inserido com sucesso: 10141632
Registro inserido com sucesso: 10141688
Registro inserido com sucesso: 10141727
Registro inserido com sucesso: 10141982
Registro inserido com sucesso: 10142078
Registro inserido com sucesso: 10142579
Registro inserido com sucesso: 10142829
Registro inserido com sucesso: 10141832
Registro inserido com sucesso: 10141870
Registro inserido com sucesso: 10141908
Registro inserido com sucesso: 10142379
Registro inserido com sucesso: 10142877
Registro inserido com sucesso: 10143149
Registro inserido com sucesso: 10143582
Registro inserido com sucesso: 10141909
Registro inserido com sucesso: 10141971
Registro inserido com sucesso: 10142007
Registro inserido com sucesso: 10142056
Registro inserido com sucesso: 10142722
Registro inserido com sucesso: 10142924
Registro inserido com sucesso: 10143383
Registro inserido com sucesso: 10141993
Registro inserido com sucesso: 10142586
Registro inserido com sucesso: 10142681
Registro inserido com sucesso: 10142787
Registro inserido com sucesso: 10143309
Registro inserido com sucesso: 10142005
Registro inserido com sucesso: 10142480
Registro inserido com sucesso: 10142955
Registro inserido com sucesso: 10143281
Registro inserido com sucesso: 10143585
Registro inserido com sucesso: 10141502
Registro inserido com sucesso: 10142536

Registro inserido com sucesso: 10142859
Registro inserido com sucesso: 10143308
Registro inserido com sucesso: 10143480
Registro inserido com sucesso: 10143520
Registro inserido com sucesso: 10143606
Registro inserido com sucesso: 10141562
Registro inserido com sucesso: 10141879
Registro inserido com sucesso: 10141915
Registro inserido com sucesso: 10141992
Registro inserido com sucesso: 10142240
Registro inserido com sucesso: 10142821
Registro inserido com sucesso: 10142840
Registro inserido com sucesso: 10142965
Registro inserido com sucesso: 10143527
Registro inserido com sucesso: 10143568
Registro inserido com sucesso: 10143599
Registro inserido com sucesso: 10141708
Registro inserido com sucesso: 10141804
Registro inserido com sucesso: 10141978
Registro inserido com sucesso: 10142122
Registro inserido com sucesso: 10142590
Registro inserido com sucesso: 10142643
Registro inserido com sucesso: 10143066
Registro inserido com sucesso: 10142402
Registro inserido com sucesso: 10142440
Registro inserido com sucesso: 10142775
Registro inserido com sucesso: 10142801
Registro inserido com sucesso: 10143165
Registro inserido com sucesso: 10141986
Registro inserido com sucesso: 10142442
Registro inserido com sucesso: 10142922
Registro inserido com sucesso: 10143030
Registro inserido com sucesso: 10143138
Registro inserido com sucesso: 10143217
Registro inserido com sucesso: 10143311
Registro inserido com sucesso: 10143419
Registro inserido com sucesso: 10141558
Registro inserido com sucesso: 10141567
Registro inserido com sucesso: 10141604
Registro inserido com sucesso: 10141921
Registro inserido com sucesso: 10141976
Registro inserido com sucesso: 10143388
Registro inserido com sucesso: 10143439
Registro inserido com sucesso: 10143511
Registro inserido com sucesso: 10141764
Registro inserido com sucesso: 10141833
Registro inserido com sucesso: 10142165
Registro inserido com sucesso: 10142578
Registro inserido com sucesso: 10142658
Registro inserido com sucesso: 10143306
Registro inserido com sucesso: 10143395
Registro inserido com sucesso: 10141698
Registro inserido com sucesso: 10141839
Registro inserido com sucesso: 10142210
Registro inserido com sucesso: 10143363
Registro inserido com sucesso: 10143532
Registro inserido com sucesso: 10141742
Registro inserido com sucesso: 10143440
Registro inserido com sucesso: 10141752
Registro inserido com sucesso: 10142208
Registro inserido com sucesso: 10142428
Registro inserido com sucesso: 10142649
Registro inserido com sucesso: 10143266
Registro inserido com sucesso: 10143271
Registro inserido com sucesso: 10143367
Registro inserido com sucesso: 10143463
Registro inserido com sucesso: 10143529
Registro inserido com sucesso: 10143627
Registro inserido com sucesso: 10142119
Registro inserido com sucesso: 10142614
Registro inserido com sucesso: 10142907
Registro inserido com sucesso: 10143437
Registro inserido com sucesso: 10143569
Registro inserido com sucesso: 10142412
Registro inserido com sucesso: 10142999
Registro inserido com sucesso: 10143121
Registro inserido com sucesso: 10143161
Registro inserido com sucesso: 10143195
Registro inserido com sucesso: 10141737
Registro inserido com sucesso: 10142098
Registro inserido com sucesso: 10143084
Registro inserido com sucesso: 10143171
Registro inserido com sucesso: 10142154
Registro inserido com sucesso: 10142313
Registro inserido com sucesso: 10142856
Registro inserido com sucesso: 10142418
Registro inserido com sucesso: 10142435
Registro inserido com sucesso: 10143420
Registro inserido com sucesso: 10141665
Registro inserido com sucesso: 10142158
Registro inserido com sucesso: 10142223
Registro inserido com sucesso: 10142492
Registro inserido com sucesso: 10142708
Registro inserido com sucesso: 10142762
Registro inserido com sucesso: 10143047
Registro inserido com sucesso: 10143188
Registro inserido com sucesso: 10143370
Registro inserido com sucesso: 10141553
Registro inserido com sucesso: 10142215
Registro inserido com sucesso: 10143288
Registro inserido com sucesso: 10143577
Registro inserido com sucesso: 10141626
Registro inserido com sucesso: 10141652
Registro inserido com sucesso: 10142058
Registro inserido com sucesso: 10143082
Registro inserido com sucesso: 10143626
Registro inserido com sucesso: 10141672
Registro inserido com sucesso: 10142294
Registro inserido com sucesso: 10142630
Registro inserido com sucesso: 10142997
Registro inserido com sucesso: 10141768
Registro inserido com sucesso: 10141898
Registro inserido com sucesso: 10142265
Registro inserido com sucesso: 10142759
Registro inserido com sucesso: 10142928
Registro inserido com sucesso: 10142989
Registro inserido com sucesso: 10143181
Registro inserido com sucesso: 10143241
Registro inserido com sucesso: 10141949
Registro inserido com sucesso: 10142088
Registro inserido com sucesso: 10142299
Registro inserido com sucesso: 10142319
Registro inserido com sucesso: 10142544
Registro inserido com sucesso: 10143064
Registro inserido com sucesso: 10143106
Registro inserido com sucesso: 10143312
Registro inserido com sucesso: 10143333
Registro inserido com sucesso: 10141578
Registro inserido com sucesso: 10141749
Registro inserido com sucesso: 10142329
Registro inserido com sucesso: 10142344
Registro inserido com sucesso: 10142690
Registro inserido com sucesso: 10142699
Registro inserido com sucesso: 10142715
Registro inserido com sucesso: 10141588
Registro inserido com sucesso: 10142745
Registro inserido com sucesso: 10142463
Registro inserido com sucesso: 10143145
Registro inserido com sucesso: 10143246
Registro inserido com sucesso: 10141928
Registro inserido com sucesso: 10142254
Registro inserido com sucesso: 10142505
Registro inserido com sucesso: 10141542
Registro inserido com sucesso: 10141685
Registro inserido com sucesso: 10141726
Registro inserido com sucesso: 10141759
Registro inserido com sucesso: 10142077
Registro inserido com sucesso: 10142124
Registro inserido com sucesso: 10143353
Registro inserido com sucesso: 10141876
Registro inserido com sucesso: 10141899
Registro inserido com sucesso: 10143110
Registro inserido com sucesso: 10143158
Registro inserido com sucesso: 10143159
Registro inserido com sucesso: 10141762
Registro inserido com sucesso: 10142032
Registro inserido com sucesso: 10142869
Registro inserido com sucesso: 10142020
Registro inserido com sucesso: 10142211
Registro inserido com sucesso: 10142252
Registro inserido com sucesso: 10142277
Registro inserido com sucesso: 10142127
Registro inserido com sucesso: 10142161
Registro inserido com sucesso: 10142893
Registro inserido com sucesso: 10142977
Registro inserido com sucesso: 10143062
Registro inserido com sucesso: 10143142
Registro inserido com sucesso: 10143227
Registro inserido com sucesso: 10141617
Registro inserido com sucesso: 10142393
Registro inserido com sucesso: 10142971
Registro inserido com sucesso: 10143012
Registro inserido com sucesso: 10143624
Registro inserido com sucesso: 10141760
Registro inserido com sucesso: 10141806
Registro inserido com sucesso: 10141888
Registro inserido com sucesso: 10142181
Registro inserido com sucesso: 10142352
Registro inserido com sucesso: 10142863
Registro inserido com sucesso: 10142981
Registro inserido com sucesso: 10143114
Registro inserido com sucesso: 10143535
Registro inserido com sucesso: 10142185
Registro inserido com sucesso: 10142227
Registro inserido com sucesso: 10143558
Registro inserido com sucesso: 10142601
Registro inserido com sucesso: 10142772
Registro inserido com sucesso: 10143078
Registro inserido com sucesso: 10143173
Registro inserido com sucesso: 10143530
Registro inserido com sucesso: 10141765
Registro inserido com sucesso: 10141820
Registro inserido com sucesso: 10142126
Registro inserido com sucesso: 10142267
Registro inserido com sucesso: 10142664
Registro inserido com sucesso: 10142727
Registro inserido com sucesso: 10143345
Registro inserido com sucesso: 10143460
Registro inserido com sucesso: 10141763
Registro inserido com sucesso: 10142046
Registro inserido com sucesso: 10142408
Registro inserido com sucesso: 10142576
Registro inserido com sucesso: 10142819
Registro inserido com sucesso: 10143087
Registro inserido com sucesso: 10143464
Registro inserido com sucesso: 10141538
Registro inserido com sucesso: 10141656
Registro inserido com sucesso: 10141778
Registro inserido com sucesso: 10142003
Registro inserido com sucesso: 10142040
Registro inserido com sucesso: 10142621
Registro inserido com sucesso: 10142663
Registro inserido com sucesso: 10141560
Registro inserido com sucesso: 10142072
Registro inserido com sucesso: 10142286
Registro inserido com sucesso: 10142466
Registro inserido com sucesso: 10143067
Registro inserido com sucesso: 10143595
Registro inserido com sucesso: 10142416
Registro inserido com sucesso: 10142475
Registro inserido com sucesso: 10142522
Registro inserido com sucesso: 10142881
Registro inserido com sucesso: 10143184
Registro inserido com sucesso: 10143307

In [66]:
for hobbie in df_hobbies.itertuples():
    desc_hobbie = hobbie.hobbies
    try:
        querey = f"""insert into hobbie (hobbie )
        values ('{desc_hobbie}')"""
        conn.execute(querey)
        print(f"Registro inserido com sucesso: {desc_hobbie}")
    except Exception as e:
        print(f"Não foi possível inserir o regristro {desc_hobbie}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Praticar esporte
Registro inserido com sucesso: Assistir TV
Registro inserido com sucesso: Ler livros
Registro inserido com sucesso: Aprender algo novo
Registro inserido com sucesso: Escrever
Registro inserido com sucesso: Pintar quadros
Registro inserido com sucesso: Dormir
Registro inserido com sucesso: Escutar música

In [67]:
for animal in df_animal.itertuples():
    desc_animal = animal.animal_estimacao
    try:
        querey = f"""insert into animal_estimacao (animal )
        values ('{desc_animal}')"""
        conn.execute(querey)
        print(f"Registro inserido com sucesso: {desc_animal}")
    except Exception as e:
        print(f"Não foi possível inserir o regristro {desc_animal}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: peixe
Registro inserido com sucesso: tartaruga
Registro inserido com sucesso: gato
Registro inserido com sucesso: cachorro

In [68]:
for clima in df_clima.itertuples():
    desc_clima = clima.clima
    try:
        querey = f"""insert into clima (clima )
        values ('{desc_clima}')"""
        conn.execute(querey)
        print(f"Registro inserido com sucesso: {desc_clima}")
    except Exception as e:
        print(f"Não foi possível inserir o regristro {desc_clima}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: frio
Registro inserido com sucesso: quente
Registro inserido com sucesso: moderado

In [69]:
for bebida in df_bebida.itertuples():
    desc_bebida = bebida.bebida_favorita
    try:
        querey = f"""insert into bebida (bebida )
        values ('{desc_bebida}')"""
        conn.execute(querey)
        print(f"Registro inserido com sucesso: {desc_bebida}")
    except Exception as e:
        print(f"Não foi possível inserir o regristro {desc_bebida}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Cerveja
Registro inserido com sucesso: Café
Registro inserido com sucesso: refrigerante
Registro inserido com sucesso: Água
Registro inserido com sucesso: Vinho
Registro inserido com sucesso: Chá

### Ler um sql da tabela do banco e adiciona-lo em um dataframe.

In [70]:
df_hobbie = pd.read_sql('hobbie', con=conn)
df_animal = pd.read_sql('animal_estimacao', con=conn)
df_clima = pd.read_sql('clima', con=conn)
df_bebida = pd.read_sql('bebida', con=conn)

In [71]:
df_hobbie

   cod_hobbie              hobbie
0           1    Praticar esporte
1           2         Assistir TV
2           3          Ler livros
3           4  Aprender algo novo
4           5            Escrever
5           6      Pintar quadros
6           7              Dormir
7           8      Escutar música

In [84]:
# Setar as coluna nome x como index.
dicionario_hobbie = df_hobbie.set_index(df_hobbie.hobbie)['cod_hobbie'].to_dict()
dicionario_animal = df_animal.set_index(df_animal.animal)['cod_animal_estimacao'].to_dict()
dicionario_clima = df_clima.set_index(df_clima.clima)['cod_clima'].to_dict()
dicionario_bebida = df_bebida.set_index(df_bebida.bebida)['cod_bebida'].to_dict()

### Buscar os nomes dos fabricantes e associamos a seu respectivo código

In [85]:
df_pesquisa.hobbies = df_pesquisa.hobbies.map(dicionario_hobbie)

In [86]:
df_pesquisa.animal_estimacao = df_pesquisa.animal_estimacao.map(dicionario_animal)

In [87]:
df_pesquisa.clima = df_pesquisa.clima.map(dicionario_clima)

In [88]:
df_pesquisa.bebida_favorita = df_pesquisa.bebida_favorita.map(dicionario_bebida)

In [106]:
for pesquisa in df_pesquisa.itertuples():
    data_pesquisa = pesquisa.data_coleta
    cod_pessoa = pesquisa.cod_pessoa
    cod_animal = pesquisa.animal_estimacao
    cod_bebida = pesquisa.bebida_favorita
    cod_hobbie = pesquisa.hobbies
    cod_clima = pesquisa.clima
    try:
        querey = f"""insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('{data_pesquisa}',{cod_pessoa}','{cod_animal}','{cod_bebida}','{cod_hobbie}', '{cod_clima}')"""
        conn.execute(querey)
        print(f"Registro inserido com sucesso: {cod_pessoa}")
    except Exception as e:
        print(f"Não foi possível inserir o regristro {cod_pessoa}. O erro foi encontrado foi: {e}")

Não foi possível inserir o regristro 10141743. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-01',10141743','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141860. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-01',10141860','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142548. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-01',10142548','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142591. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-01',10142591','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142654. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-01',10142654','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141523. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-02',10141523','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141996. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-02',10141996','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142089. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-02',10142089','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142145. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-02',10142145','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142520. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-02',10142520','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143160. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-02',10143160','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141712. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-03',10141712','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141987. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-03',10141987','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142093. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-03',10142093','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142325. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-03',10142325','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142552. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-03',10142552','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142598. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-03',10142598','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143013. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-03',10143013','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141570. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-04',10141570','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141851. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-04',10141851','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141938. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-04',10141938','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142733. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-04',10142733','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142851. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-04',10142851','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142941. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-04',10142941','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143484. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-04',10143484','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141877. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-05',10141877','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142310. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-05',10142310','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142471. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-05',10142471','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142597. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-05',10142597','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143070. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-05',10143070','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143526. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-05',10143526','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141671. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-06',10141671','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142969. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-06',10142969','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143233. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-06',10143233','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141745. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-07',10141745','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141826. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-07',10141826','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142330. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-07',10142330','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142711. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-01-07',10142711','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)

Não foi possível inserir o regristro 10142625. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-21',10142625','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142961. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-21',10142961','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143252. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-21',10143252','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143356. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-21',10143356','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143400. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-21',10143400','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143512. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-21',10143512','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141681. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-22',10141681','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142581. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-22',10142581','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142736. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-22',10142736','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142839. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-22',10142839','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143027. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-22',10143027','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143048. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-22',10143048','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141526. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-23',10141526','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141605. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-23',10141605','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141609. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-23',10141609','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142249. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-23',10142249','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142282. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-23',10142282','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142602. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-23',10142602','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143026. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-23',10143026','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143292. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-23',10143292','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141875. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-24',10141875','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142372. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-24',10142372','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143549. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-24',10143549','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141550. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-25',10141550','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141751. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-25',10141751','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141913. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-25',10141913','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142780. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-25',10142780','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142848. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-25',10142848','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142874. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-25',10142874','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142958. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-25',10142958','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143176. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-25',10143176','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143347. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-25',10143347','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143025. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-26',10143025','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143301. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-26',10143301','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142386. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-27',10142386','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142832. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-27',10142832','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143316. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-27',10143316','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143325. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-02-27',10143325','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)

Não foi possível inserir o regristro 10142279. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-04-29',10142279','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143123. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-04-29',10143123','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141739. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-04-30',10141739','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142419. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-04-30',10142419','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142660. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-04-30',10142660','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142967. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-04-30',10142967','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143305. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-04-30',10143305','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143542. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-04-30',10143542','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143587. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-04-30',10143587','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141878. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-01',10141878','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141958. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-01',10141958','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142427. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-01',10142427','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141770. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-02',10141770','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142092. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-02',10142092','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142600. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-02',10142600','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142159. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-03',10142159','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142889. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-03',10142889','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143473. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-03',10143473','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143616. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-03',10143616','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142289. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-04',10142289','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142373. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-04',10142373','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142673. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-04',10142673','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143300. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-04',10143300','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141767. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-05',10141767','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141866. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-05',10141866','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141937. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-05',10141937','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142676. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-05',10142676','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142739. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-05',10142739','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143291. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-05',10143291','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141807. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-06',10141807','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141808. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-06',10141808','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141932. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-06',10141932','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142312. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-06',10142312','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142322. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-06',10142322','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142535. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-06',10142535','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142710. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-06',10142710','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142883. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-06',10142883','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143193. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-05-06',10143193','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)

Não foi possível inserir o regristro 10141729. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-14',10141729','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142567. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-14',10142567','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142720. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-14',10142720','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142826. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-14',10142826','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143445. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-14',10143445','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143565. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-14',10143565','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141651. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-15',10141651','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142846. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-15',10142846','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142857. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-15',10142857','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143505. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-15',10143505','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142278. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-16',10142278','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142411. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-16',10142411','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141522. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10141522','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141566. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10141566','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141627. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10141627','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141670. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10141670','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141841. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10141841','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141855. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10141855','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141867. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10141867','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142146. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10142146','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142486. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10142486','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142905. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10142905','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142927. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10142927','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143058. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10143058','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143102. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-17',10143102','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141979. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-18',10141979','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142000. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-18',10142000','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142017. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-18',10142017','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142276. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-18',10142276','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142413. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-18',10142413','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142476. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-18',10142476','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142518. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-18',10142518','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142563. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-18',10142563','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143093. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-18',10143093','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143469. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-18',10143469','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143561. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-18',10143561','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141548. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-19',10141548','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141924. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-07-19',10141924','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)

Não foi possível inserir o regristro 10143405. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-21',10143405','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143452. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-21',10143452','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143592. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-21',10143592','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141696. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-22',10141696','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142281. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-22',10142281','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142963. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-22',10142963','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141882. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-23',10141882','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142150. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-23',10142150','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142812. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-23',10142812','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142845. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-23',10142845','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142912. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-23',10142912','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142992. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-23',10142992','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143007. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-23',10143007','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143206. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-23',10143206','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143272. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-23',10143272','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143361. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-23',10143361','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141597. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-24',10141597','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141977. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-24',10141977','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142499. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-24',10142499','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142723. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-24',10142723','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142899. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-24',10142899','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143168. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-24',10143168','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141598. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-25',10141598','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141678. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-25',10141678','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142055. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-25',10142055','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142192. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-25',10142192','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142345. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-25',10142345','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142547. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-26',10142547','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142645. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-26',10142645','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143269. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-26',10143269','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143297. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-26',10143297','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143406. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-26',10143406','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143431. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-26',10143431','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141610. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-27',10141610','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141776. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-27',10141776','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141929. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-27',10141929','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142308. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-27',10142308','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142404. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-09-27',10142404','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)

Não foi possível inserir o regristro 10142402. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-26',10142402','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142440. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-26',10142440','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142775. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-26',10142775','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142801. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-26',10142801','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143165. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-26',10143165','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141986. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-27',10141986','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142442. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-27',10142442','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142922. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-27',10142922','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143030. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-27',10143030','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143138. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-27',10143138','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143217. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-27',10143217','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143311. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-27',10143311','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143419. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-27',10143419','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141558. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-28',10141558','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141567. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-28',10141567','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141604. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-28',10141604','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141921. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-28',10141921','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141976. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-28',10141976','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143388. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-28',10143388','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143439. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-28',10143439','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143511. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-28',10143511','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141764. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-29',10141764','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141833. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-29',10141833','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142165. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-29',10142165','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142578. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-29',10142578','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142658. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-29',10142658','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143306. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-29',10143306','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143395. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-29',10143395','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141698. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-30',10141698','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141839. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-30',10141839','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142210. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-30',10142210','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143363. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-30',10143363','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143532. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-11-30',10143532','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141742. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-12-01',10141742','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10143440. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-12-01',10143440','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10141752. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-12-02',10141752','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142208. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-12-02',10142208','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)
Não foi possível inserir o regristro 10142428. O erro foi encontrado foi: (MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '','nan','nan','nan', 'nan')' at line 2")
[SQL: insert into pesquisas (data_pesquisa, cod_pessoa, cod_animal, cod_bebida, cod_hobbie, cod_clima)
        values ('2020-12-02',10142428','nan','nan','nan', 'nan')]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [97]:
df_pesquisa

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,NaN,NaN,NaN,NaN
1,10141860,2020-01-01,Feminino,1966-01-19,NaN,NaN,NaN,NaN
2,10142548,2020-01-01,Masculino,1973-08-02,NaN,NaN,NaN,NaN
3,10142591,2020-01-01,Masculino,1997-03-05,NaN,NaN,NaN,NaN
4,10142654,2020-01-01,Feminino,1969-08-05,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1,10142475,2020-12-31,Masculino,1955-05-30,NaN,NaN,NaN,NaN
2,10142522,2020-12-31,Masculino,1954-12-22,NaN,NaN,NaN,NaN
3,10142881,2020-12-31,Masculino,1952-07-30,NaN,NaN,NaN,NaN
4,10143184,2020-12-31,Masculino,1984-06-05,NaN,NaN,NaN,NaN
5,10143307,2020-12-31,Masculino,1971-08-29,NaN,NaN,NaN,NaN